[2021-08-03 18:28] dzenanz commented on #2676
I've tried my own suggestion `static_cast<const typename decltype(*object)::Superclass *>(object)->GetNameOfClass()` on my Ubuntu 20.04 machine with `gcc-10.3.0` and it does **_not_** work.  The issue appears to be that `decltype(*object)` is not well defined during the declaration of `object`; for example when an (inline) method is defined within a class declaration rather than as a separate defi

[2021-08-03 21:49] dzenanz commented on #2674
People who use NIFTI a lot should weigh in. Candidates: @hjmjohnson @cookpa @vfonov @seanm @lassoan.

[2021-08-04 01:39] cookpa commented on #2674
The code does attempt to fall back to the qform if the sform cannot be used. The ANTs bug you link to was triggered by a combination of small voxels and missing qform (qform_code == 0). If I increased the voxel size, or entered a qform into the header, it worked.

I haven't had time to chase it down but I think there is some numerical test of whether to use sform that is getting confused by small

[2021-08-04 03:03] gdevenyi commented on #2674
Thanks for the detail @cookpa. I'm going to follow up with the report I got to see what the actual state of the NIFTI header was for reference here.

[2021-08-04 15:54] gdevenyi commented on #2674
Details on the problematic scan we had:
https://github.com/CoBrALab/RABIES/issues/160#issuecomment-892471093

[2021-08-04 20:32] lassoan commented on #2674
I have no preference on how to change the NIFTI code or error messages to deal with this issue.

My hope is that we can build up support for OME-Zarr (or similar modern file format) in the wider image computing community and that will offer enough incentives for researchers to leave behind NIFTI and its sform/qform mess for good.

[2021-08-05 15:36] dzenanz commented on #2663
If you had image with RGB pixels and shape 64x64x64, I assume the affine logic would work. If you need arbitrary number of components, then I assume you would need to add another dimension to origin, spacing and direction. For example, extend spacing from [0.5, 0.5, 1.5] to [0.5, 0.5, 1.5, 1.0].

[2021-08-06 02:42] Nic-Ma commented on #2663
Hi @dzenanz ,

Thanks for your explanation.
I am saving 3D medical images and the affine is for 3D dims, seems can't set the spacing.
Do you have an python example to set spacing for a **3D multi-channels** image?

Thanks in advance.

[2021-08-06 02:42] Nic-Ma commented on #2663
CC @wyli for further discussion.

Thansk.

[2021-08-06 10:54] Flamefire commented on #1701
Seeing that with 4.13.1 but not with 4.13.0

Verbose make output:

[code]

[2021-08-06 16:36] thewtex commented on #2603
torch.multiprocessing.get_context("spawn") instead of
torch.multiprocessing.set_start_method("spawn")
(please see Project-MONAI/MONAI@ac7944e,

@wyli great work here.

Indeed, the CPython documentation on `multiprocessing` start methods states,

And their example puts the `set_start_method` call under the condition `if __name__ == '__main__':`:

[code]

Debugging:

[code]

I found that `set_start_

[2021-08-06 16:36] #2603 closed

[2021-08-06 16:55] cookpa commented on #2674
I think I found it:

https://github.com/InsightSoftwareConsortium/ITK/blob/02e7c448b4e3b77f0e46afb66f92bb3be8995dd7/Modules/IO/NIFTI/src/itkNiftiImageIO.cxx#L1762-L1767

This fails if the voxels are small because the determinant of the sform matrix is below the threshold (1e-5). Perhaps this could safely be made smaller.

But without eliminating the test entirely, there's always going to be a mini

[2021-08-06 17:00] cookpa commented on #2674
Oh, actually other units won't help because they will get scaled to mm units

[2021-08-06 17:23] Leengit commented on #2674
@cookpa good sleuthing!  The 1e-5 threshold is quite demanding; anyone know why it is there?  For example, there are accurate methods for computing a matrix inverse that can handle determinants much, much smaller in absolute value than 1e-5.

[2021-08-06 17:27] dzenanz commented on #2674
PR #1868 introduced it:
https://github.com/InsightSoftwareConsortium/ITK/commit/34231b57021418fdb6afd4fcf5082a73b12969ed#diff-fa33a46a6dc41cde5d18ee8f63cb941794512e03c6377340b8d110fe584cfdfaR1756-R1760

I guess it is fine for MRIs, which have voxels ~ 1.0 mm. @hjmjohnson is there a problem reducing this to a much lower value?

[2021-08-06 22:33] thewtex commented on #2663
@Nic-Ma @wyli I have an example script in progress -- will share when finished.

[2021-08-09 12:34] zivy opened #2681 "GDCMImageIO bug, DICOM file cannot be decompressed unencapsulated representation"
Error reading a large file, ITK ERROR: GDCMImageIO(0x7fdbbd523570): Buffer size 19887104 is not valid.

Originally reported via [SimpleITK #1434](https://github.com/SimpleITK/SimpleITK/issues/1434), see sample file there. Also see discussion on [GDCM mailing list](https://sourceforge.net/p/gdcm/mailman/gdcm-developers/?viewmonth=202108).

[2021-08-09 12:36] zivy commented on #2681
Hi @dzenanz,
Mathieu asked that this bug be assigned to him and it looks like I can't assign issues. Please assign, thanks.

[2021-08-09 14:24] blowekamp commented on #2681
@malaterre Thank you for working on this issue!

[2021-08-09 18:02] thewtex commented on #1115
Per discussion, closing. If there are locations we missed, please re-open.

[2021-08-09 21:57] thewtex commented on #2663
Here is the script with a `def save(np_array: np.ndarray, filename: str, affine_matrix: np.ndarray):` demonstrated on 3D and 2D images, scalar and multi-channel:

https://gist.github.com/thewtex/9503448d2ad1dfacc2cbd620d95d3dac

[2021-08-09 23:43] Nic-Ma commented on #2663
Hi @wyli , this example may solve the saving issue in our `SaveImage` development.

Thanks.

[2021-08-10 22:04] dzenanz commented on #2640
@QuellaZhang #2684 should be the last piece of the puzzle for this issue. Can you confirm and close?

Updated HDF5 (#2683) does not have the fix, so #2684 was needed.

[2021-08-11 19:52] dzenanz commented on #2596
It turns out BMP files use BGR and BGRA order. ITK assumed ABGR instead. #2596 fixes that.

@leodemachado can you confirm? I guess this will need to be integrated into Slicer first 😄

[2021-08-12 02:12] gdevenyi commented on #2674
https://github.com/SimpleITK/SimpleITK/issues/1440

[2021-08-12 13:24] dzenanz commented on #2674
Gabriel, can you make a PR with your proposed changes (turn error into warning and more informative message)?

[2021-08-12 13:26] dzenanz commented on #2674
Also, can a mathematically-inclined person figure out a better threshold for determinant:
https://github.com/InsightSoftwareConsortium/ITK/blob/02e7c448b4e3b77f0e46afb66f92bb3be8995dd7/Modules/IO/NIFTI/src/itkNiftiImageIO.cxx#L1764

[2021-08-12 13:34] gdevenyi commented on #2674
I think solution might be to test the condition of the matrix and compare to epsilon, as suggested here, https://stackoverflow.com/a/13270760/4130016

[2021-08-12 13:42] dzenanz commented on #2674
It would be good if this found its way into your PR 😄

[2021-08-12 16:31] gdevenyi commented on #2674
To clarify here, after working through the logic, it looks like we have two things happening together
1. https://github.com/InsightSoftwareConsortium/ITK/blob/02e7c448b4e3b77f0e46afb66f92bb3be8995dd7/Modules/IO/NIFTI/src/itkNiftiImageIO.cxx#L1764 which is resulting in some kinds of sforms being rejected

combined with
2. https://github.com/InsightSoftwareConsortium/ITK/blob/02e7c448b4e3b77f0e46afb

[2021-08-12 16:50] gdevenyi commented on #2674
Following up on this again:
https://github.com/InsightSoftwareConsortium/ITK/blob/02e7c448b4e3b77f0e46afb66f92bb3be8995dd7/Modules/IO/NIFTI/src/itkNiftiImageIO.cxx#L1764

Something didn't sit right with me, so I went back to my linalg textbook and a matrix A is invertible if `det(A) != 0`. I wonder if this test was meant to be `fabs(vnl_determinant(mat)) >= 1e-5`

[2021-08-12 17:19] cookpa commented on #2674
If the header has nonzero sform or qform, and they cannot be used for reasons, I'd prefer to throw an error rather than fall back to method 1. Better no data than accidentally flipped data, IMO.

I think the logic is good as is:

* Attempt to use "method 1", Analyze backwards compatibility, only if qform_code == sform_code == 0.
* Else use sform if it's defined and orthonormal direction cosines ca

[2021-08-12 17:50] cookpa commented on #2674
Regarding the threshold for the determinant, I found this:

[code]

https://github.com/vxl/vxl/blob/d771c601a2072afe46af8a80b8e480d0529d8f2f/core/vnl/algo/vnl_svd.h#L89-L90

So inversion will run into problems with voxels smaller than 1e-8, because the singular values will be zeroed out. This behavior can be changed in vnl_svd, but I'm not sure it's accessible from the wrapper vnl_matrix_inverse

[2021-08-12 17:57] #2596 closed

[2021-08-12 19:23] cookpa commented on #2674
Regarding the threshold for the determinant, I found this in the matrix inversion code:

[code]

https://github.com/vxl/vxl/blob/d771c601a2072afe46af8a80b8e480d0529d8f2f/core/vnl/algo/vnl_svd.h#L89-L90

They suggest 1e-8 or sqrt(machine epsilon) as a threshold for the singular values to be zeroed out, but the class looks like it defaults to a threshold of zero. If we had spacing of 1e-8, the deter

[2021-08-12 19:38] Leengit commented on #2674
Singular values (essentially eigenvalues) get multiplied together to determine the determinant, so even when 1e-8 is the right threshold for a singular value, it is probably not the correct threshold for a determinant.  Also, the smallest positive single-precision floating point number that can be represented (without resorting to subnormals representations) is 1.175494e-38, and its square root is

[2021-08-12 20:05] gdevenyi commented on #2674
Yes, if we just compute SVD directly its the ratio of the largest to smallest eigenvalues.

[2021-08-12 20:21] dzenanz commented on #1747
This does not inherit from `itkOptimizer`, but from `ObjectToObjectOptimizerBaseTemplate`. Patch coming up to respect initial position.

[2021-08-13 00:16] #2613 closed

[2021-08-13 13:12] #1747 closed

[2021-08-14 14:52] Nekto89 opened #2693 "Unicode support for filenames"
Currently interfaces of ImageFileReader/ImageFileWriter receive filenames in locale-specific encoding if I understand correctly. So if I have a filename in UTF-8/UTF-16 that can't be represented in this locale, I won't be able to use this file. This is a problem on Windows which doesn't use UTF-8 by default for fopen/fstream. Suggestions for IO objects that are part of ITK and use fopen/fstream:
-

[2021-08-16 16:18] dzenanz commented on #2693
As each image IO handles files differently, getting them all to accept `std::istream` in addition to `filename` is going to be very hard, and might not even be possible for some of them.

When somebody needs special characters, they can enable [UTF8 as the default code page](https://en.wikipedia.org/wiki/Unicode_in_Microsoft_Windows#UTF-8) since a few years ago. So the cost of this big refactoring

[2021-08-17 08:52] Nekto89 commented on #2693
And what about users who still use older versions of Windows (that are still supported)?

[2021-08-17 13:42] dzenanz commented on #2693
Only [around 20%](https://gs.statcounter.com/os-version-market-share/windows/desktop/worldwide) use older versions of Windows. That will only reduce in the future. And when you further subdivide it into regions which have need for characters outside of [US-ASCII](https://en.wikipedia.org/wiki/Windows-1252), that is an increasingly small number. However they dealt with it until, they can still do t

[2021-08-17 15:39] #86 closed

[2021-08-17 19:28] #2445 closed

[2021-08-18 13:28] dzenanz commented on #686
Since this issue was created, we have switched to GitHub actions, so there is no more `azure-pipelines.yml`. Now we have `.github/workflows/build-test-package.yml`.

[2021-08-18 13:35] dzenanz commented on #845
There are more opportunities for this, now that we require at least C++14 support.

[2021-08-18 14:00] cookpa commented on #2674
Using the matrix condition :

https://github.com/cookpa/ITK/blob/2a6a365b8a6ee1a715254c1c3478666c4e8b8e6f/Modules/IO/NIFTI/src/itkNiftiImageIO.cxx#L1762-L1767

This reads small (18 micron) voxels that previously failed. I'm not sure on the best way to formally test this, as any image created with this class will contain both sform and qform.

[2021-08-18 14:50] dzenanz opened #2699 "UpdateRemoteModules.sh should handle both master and main"
We [recently](https://github.com/InsightSoftwareConsortium/ITKModuleTemplate/issues/117) switched from recommending `master` to `main` as the default branch name for remote modules.

Now we need to update the [UpdateRemoteModules.sh](https://github.com/InsightSoftwareConsortium/ITK/blob/3a63e79d17addbc8903270f363fac6c5b89cdf53/Utilities/Maintenance/UpdateRemoteModules.sh#L92-L93) script to handle

[2021-08-18 15:09] gdevenyi commented on #2674
Awesome, I couldn't find something that just outputted the condition number.

This fix will solve the immediate issue, I think we can leave the logic adjustment to a seperate PR?

[2021-08-19 07:26] Itsanewday opened #2700 "Doubt about itkScalarImageToCooccurenceMatrixFilter"
### Description

I found that the  itkScalarImageToCooccurrenceMatrixFilter has this warning:

WARNING: This probably won't work for pixels of double or long-double type
 unless you set the histogram min and max manually. This is because the largest
 histogram bin by default has max value of the largest possible pixel value
 plus 1. For double and long-double types, whose "RealType" as defined by

[2021-08-19 13:49] dzenanz commented on #2700
This sounds more like a question for the [forum](https://discourse.itk.org/) than an issue.

[2021-08-19 14:03] cookpa commented on #2674
I put in a PR for the condition number stuff. I could not find a good place to insert a warning without doing more refactoring, so I left that out. IMO the only time to warn is if we can't use sform AND sform_code == NIFTI_XFORM_SCANNER_ANAT.

[2021-08-19 19:20] blowekamp commented on #2700
Looks like a good fix :) Any change we could get this problematic case tested? Perhaps adding a micron sized test image of a few pixels?

[2021-08-20 01:26] #2674 closed

[2021-08-21 23:34] hjmjohnson opened #2703 "Image Writing from Python and C++ give different results"
### Description

Identical code (written in python & C++) results in different images being written to disk.

The python code writes an image to disk with Identity direction cosine, even though the image supplied to the write function has non-identity cosines.  The change occurs somewhere in itk::ImageBase::UpdateOutputInformation().

### Steps to Reproduce
A self-contained environment creates a n

[2021-08-21 23:44] hjmjohnson commented on #2703
@dzenanz I spent all day trying to debug this very weird python problem.  I'm hoping you can help shed some light on this failure.

The tarball should be self-contained, and should build and demonstrate the failure by running the do_test.sh script.

[2021-08-23 17:24] dzenanz commented on #2703
I can reproduce this on Windows, too, with my existing build of ITK.

[2021-08-23 18:17] hjmjohnson commented on #2703
Good news!  At least it is reproducible.   I was struggling to determine where execution diverges.  I could not figure out how to debug the c++ code called from python.

[2021-08-23 18:31] dzenanz commented on #2703
The way which worked for me before was to use Visual Studio, enable "Enable native code debugging" in Python project and then step into (F11) interesting code. However, this time VS doesn't step into `rip.Update()`. The only suspect I have is use of `this->GraftOutput(m_OutputImage);` in `Modules\Core\Transform\include\itkResampleInPlaceImageFilter.hxx`. @thewtex do you have ideas about what could

[2021-08-25 21:45] tao558 opened #2705 "Unlimited memory usage when calling several `Image` and `Region` methods from Python"
### Description
The below Python programs seem to require unlimited memory.

### Steps to Reproduce
This is a family of seemingly related issues, which have roughly the same setup. Run the below code to set up a few examples

[code]

With the above setup, run one of the following code cells and monitor memory usage. They all consume an unlimited amount of memory:

1.) `Region::IsInside` with tuple

[2021-08-30 13:25] tbirdso opened #2706 "ITK 5.2.1 Python Package Missing Wrappings"
### Description

The ITK Python 5.2.1 distribution does not contain several Python wrappings that were included in the [5.2.1 release schedule](https://github.com/InsightSoftwareConsortium/ITK/compare/v5.2.0...v5.2.1). This includes [imread enhancements](https://github.com/InsightSoftwareConsortium/ITK/commit/4ae3749a6199a07e80d30cc36304198a21af9901) and additional wrappings for [SymmetricSecondRa

[2021-08-30 17:51] brad-t-moore commented on #2705
FYI - we think it's due to the use of `PySequence_GetItem` in [Wrapping/Generators/Python/PyBase/pyBase.i](../blob/master/Wrapping/Generators/Python/PyBase/pyBase.i).  According to Python's documentation it returns a new reference and therefore should have an associated `Py_DECREF` after its use.  Working on compiling and verifying a PR now.

Note, this memory issue should impact any method that i

[2021-08-31 06:08] dbeurle commented on #1933
I ran into this unexpected issue also - and affects other projections (e.g. min). I don't think @fbudin69500 made any functional changes to the way the indices were computed. The fix isn't particularly difficult, it will however change the output and break user code. Would you be happy to accept a PR to correct this?

[2021-08-31 13:42] dzenanz commented on #1933
Perhaps we could introduce a new ivar named `OldStyleAxisOrder`, `WrapAroundAxisOrder` or something similar which controls this? Then emphasize in the class documentation that the default might be counter-intuitive and that this setting is used to change it?

Silently changing behavior of such an old class is not a good idea. If you insist that the new behavior is the right one, then make the defa

[2021-08-31 16:10] thewtex commented on #2706
@tbirdso thanks for the report!

Yes, it looks like we ended up with the wrong hash in the release. Should be addressed with: https://github.com/InsightSoftwareConsortium/ITKPythonPackage/commit/380a0ce05adea5a3656f0327bb329fbcd1ce87ac

We'll build / test and upload as `itk-5.2.1.post1`.

[2021-08-31 16:39] ChristianJacobsen commented on #513
Hi again @dzenanz!

As far as I am able to see the problems with printing fundamental types from `itkIntTypes.h` and `itkFloatTypes.h` no longer exist. Compiler seemed happy printing `ImageConstIteratorWithIndex::GetIndex()` returning an `IndexType`.

As for native arrays and `std::list`, I have so far added support to `itkPrintHelper.h` for those.

`vnl_matrix` already has an `operator<<` overloa

[2021-08-31 18:45] dzenanz commented on #513
Example of an exotic type: `GradientType`: [1](https://github.com/InsightSoftwareConsortium/ITK/blob/971aef211cad336ba75cb2da114fc86e873444e5/Modules/Segmentation/LevelSetsv4/include/itkLevelSetBase.h#L180) [2](https://github.com/InsightSoftwareConsortium/ITK/blob/f81578bbb6242032b611d7e3e4dca3b7557fbbe0/Modules/Core/Common/include/itkConicShellInteriorExteriorSpatialFunction.hxx#L104-L109) [3](ht

[2021-08-31 18:45] dzenanz commented on #513
And of course printing instances of these types as ivars now that it is convenient to print them.

[2021-08-31 23:38] #2705 closed

[2021-09-01 13:27] jhlegarreta commented on #513
@ChristianJacobsen contributions are always welcome :100:, and as @dzenanz says, this is still relevant. It would be awesome to finally have all necessary overloads in ITK ! So thanks for considering this :+1:.

Besides what @dzenanz pointed, section C.21 of the [ITK SW Guide](https://itk.org/ItkSoftwareGuide.pdf) gives some more guidance about ivar printing in ITK. Essentially we would like to ov

[2021-09-01 17:11] thewtex commented on #2706
These are now built / addressed, except for Linux-ARM, which is building.

CC @aylward

[2021-09-01 17:11] #2706 closed

[2021-09-04 02:32] 7oud opened #2714 "Re-use the allocated memory buffer or allocated itk::Image"
### Description
when using a itk::filter, results that get from filter->GetOuput() are allocated by filter, If I want to run the filter in a loop, the filter will allocate and deallocate repeatedly, if allocate a buffer/image with correct size and data type in advance, can the filter reuse the allocated buffer as output memory instead of multi-allocate/deallocate memory. I don't find this function

[2021-09-06 13:17] dzenanz commented on #2714
You should take a look at the detailed description of [ProcessObject](https://itk.org/Doxygen/html/classitk_1_1ProcessObject.html), in particular `ReleaseData*` members. I think you want to call [`filter->SetReleaseDataBeforeUpdateFlag(false);`](https://itk.org/Doxygen/html/classitk_1_1ProcessObject.html#a95864e89fe7cb74593358634be65c38d)

[2021-09-06 13:17] #2714 closed

[2021-09-07 09:59] 7oud commented on #2714
@dzenanz Thanks a lot for your reply, `SetReleaseDataBeforeUpdateFlag(false)` helps when re-using a itk::Image. Another situation, there is a allocated memory for repeated writing into, this buffer can manage itself by smart pointer. Now I want to use this buffer as the itk::Image data area,  if using `ImportImageFilter`, either there is a addtional data copy from fitler->GetOutput() to buffer, or

[2021-09-07 12:39] rickardcronholm opened #2717 "Building v5.1.2 fails with BUILD_TESTING=ON"
### Description

Building ITK v5.1.2 with DBUILD_TESTING:BOOL=ON failes due to MD5 issues with external data.

### Steps to Reproduce

This is conducted through SuperBuild of SimpleITK, however the issue lies with ITK.

1. docker run --rm -it rickardcronholm/buildsitk:latest bash
2. bash build_SimpleITK/build.sh pull
3. bash build_SimpleITK/build.sh apply_patches
4. bash build_SimpleITK/build.sh b

[2021-09-07 12:50] dzenanz commented on #2714
I am not sure whether that can be accomplished. Using `ImportImageFilter` was a good try. One more thing to try is increase reference count on the [pixel container](https://itk.org/Doxygen/html/classitk_1_1Image.html#aab044de7c6a87f5bcd354e29f6c067f7):
[code]
Now the buffer should not be automatically deallocated. You might need to help it along by calling [`image->SetPixelContainer(buf);`](https:

[2021-09-07 13:01] jcfr commented on #2717
This server has been retired and is currently only accessible from Kitware internal network at https://slicer-old.kitware.com

[2021-09-07 13:49] thewtex commented on #2717
Removed here: https://github.com/InsightSoftwareConsortium/ITK/pull/2718

[2021-09-07 13:51] thewtex commented on #2717
This is an issue with the [ITKSimpleITKFilters](https://github.com/InsightSoftwareConsortium/ITKSimpleITKFilters) repository. @blowekamp can the testing data be uploaded to data.kitware.com and the content links updated to .sha512's?

[2021-09-07 13:56] thewtex opened #2719 "ITK_EXERCISE_BASIC_OBJECT_METHODS failures in ITKReview module"
### Description

`ITK_EXCERCISE_BASIC_OBJECT_METHODS` are not compiling with a few classes from the `ITKReview` module:

https://open.cdash.org/viewBuildError.php?buildid=7442857

[code]

### Steps to Reproduce

These can be reproduced locally by turning on `Module_ITKReview`.

### Expected behavior

No build errors.

### Additional Information

I see a `Superclass` type alias here:

https://githu

[2021-09-07 14:05] jhlegarreta commented on #2719
You are right @thewtex : these were introduced in PR #2653 by me :pensive: . They were detected once the PR got merged (all Azure checks were passing, maybe because the Review module does not get tested dynamically?), and we had some exchange on the PR to try to identify the issue to no avail.

@dzenanz opened issue #2676 to keep track of it.

[2021-09-07 14:34] dzenanz commented on #2719
Closing as a duplicate of #2676.

[2021-09-07 14:34] #2719 closed

[2021-09-08 21:00] brad-t-moore opened #2726 "type inconsistency with numpy.mean()"
### Description

Briefly: calling `np.mean()` on an instance of `itk.itkPyBufferPython.NDArrayITKBase` returns a single value of type `itk.itkPyBufferPython.NDArrayITKBase` whereas `np.mean()` called on an `numpy.ndarray` returns a scalar `numpy.float32`.  This causing what I think is an array-check in MONAI to crash.

### Steps to Reproduce

I'm trying to run some MONAI code using ITK's file read

[2021-09-09 00:19] thewtex commented on #2726
@brad-t-moore thanks for the report --- yes, it seems reasonable to return the same type.

[2021-09-14 03:09] jjjkkyz opened #2734 "unresolved extenal symbol in ConnectedThresholdImageFilter"
### Description

vs2019 report unresolved external symbol in ConnectedThresholdImageFilter's printself function
### Steps to Reproduce

1. using vcpkg to install itk via vcpkg install itk[vtk]:x64-windows
2. using the example code in https://itk.org/ITKExamples/src/Segmentation/RegionGrowing/ConnectedComponentsInImage/Documentation.html?highlight=connectedthresholdimagefilter

### Expected behavio

[2021-09-14 06:57] PHLF opened #2735 "itk(GDCM|DCMTK)SeriesFileNames: memory leaks, bad behavior"
Hello,

   I may have not searched thoroughly but I am surprised not to have found an issue about this:

- `itkGDCMSeriesFileNames` seems to suffer from a huge memory leak: it relies on the `gdcm::SerieHelper` class which... has some issues like this [commented call to delete](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/ThirdParty/GDCM/src/gdcm/Source/MediaStorageAndFileFo

[2021-09-14 14:59] dzenanz commented on #2735
I don't think that memory leaks are known. @malaterre @issakomi correct me if I am wrong. @PHLF do you have a simple repro case for a memory leak?

[2021-09-14 15:16] PHLF commented on #2735
Something like:

[code]

[2021-09-14 15:19] PHLF commented on #2735
But maybe I did not use the API properly and there is no leak at all.

[2021-09-14 22:24] thewtex commented on #2734
@jjjkkyz thanks for the report. Does the same issue occur with ITK Git `master`?

[2021-09-15 01:53] jjjkkyz commented on #2734
Well, I haven't  test it on git master. If it's neccessary, I'll try.

[2021-09-17 10:36] Janneke80 opened #2741 "LabelImageToLabelMapFilter takes a long time to complete on an empty image"
The LabelImageToLabelMapFilter takes a long time to complete on an empty image.

The following code snippet can reproduce the bug.

     auto p_filter = itk::LabelImageToLabelMapFilter<itk::Image<unsigned char, 3>>::New();
     auto p_image = itk::Image<unsigned char, 3>::New();
     p_image->SetRegions(itk::Size<3>{ 0, 0, 0 });
     p_image->Allocate(true);

     p_filter->SetInput(p_image);

[2021-09-17 15:11] #2693 closed

[2021-09-17 15:42] dzenanz commented on #2741
I cannot reproduce with master. The following program completes in a fraction of a second in both debug and release modes:
[code]

[2021-09-18 09:10] 7oud opened #2743 "How to copy a image to specified ROI of a big image with multi-thread?"
I need to copy a small image(patch) to a specific ROI of an allocated image. it's a common operation and can be achieved by `ImageRegionIterator` with single-thread iteration. But this method is slow, how to finish this copy with multi-thread? I watched the source code of `RegionOfInterestImageFilter`, which uses `DynamicThreadedGenerateData` to crop the output region into multi-parts and parallel

[2021-09-19 10:11] Nekto89 commented on #2741
There is a problem in ImageRegionSplitterSlowDimension - zero is divided by zero and then casted to unsigned int. Resulting value is unspecified in this case. So number of work units probably may change depending on compiler version.

On my machine currently ImageRegionSplitterSlowDimension::GetNumberOfSplitsInternal returns 1073741824. This value is getting truncated in PoolMultiThreader::SingleM

[2021-09-19 10:48] Nekto89 commented on #2741
TBBMultiThreader doesn't limit number of work units, so all 1073741824 are getting into tbb::parallel_for

[2021-09-19 12:53] Nekto89 commented on #2743
ImageAlgorithm::Copy has optimizations in it. I'm not sure that multithreading is needed for simple copying of data - cache might be a bottleneck.

[2021-09-19 13:38] 7oud commented on #2743
@Nekto89 `ImageAlgorithm::Copy` uses faster `ScanlineIterator` instead of `RegionIterator` in most situations, but it's still single-thread. `RegionOfInterestImageFilter` calls `ImageAlgorithm::Copy` in `DynamicThreadedGenerateData` with multi-thread. So copying a small patch from a big image with `RegionOfInterestImageFilter`, it's fast bcz of multi-thread calling. On the contrary, copying the sa

[2021-09-20 08:52] ebarjou opened #2746 "Compilation fail with ITK_WRAP_PYTHON=ON and ITK_USE_GPU=ON"
### Description

I try to compile ITK with GPU support in order to be able to use the Cuda reconstruction algorithms of RTK under python. I compile ITK without including the RTK module yet.
The CMake runs flawlessly, but the build of ITK fail on my machine on master and on release 5.2.1.

### Steps to Reproduce

I use MSVC2019, called from a ninja build file generated by CMake.
From a fresh copy o

[2021-09-20 08:58] SimonRit commented on #2746
ITK_USE_GPU is unrelated to CUDA, it is using OpenCL. To use CUDA in RTK, you should turn on the RTK_USE_CUDA option. See [INSTALLATION.md](https://github.com/SimonRit/RTK/blob/master/INSTALLATION.md). If you have any trouble with this, I suggest reporting bugs on https://github.com/SimonRit/RTK/issues and difficulties on the mailing list rtk-users@openrtk.org.
The bug report is still valid for IT

[2021-09-20 13:39] dzenanz commented on #2741
It should be a simple fix. Anyone willing to take it on?

[2021-09-20 13:48] dzenanz commented on #2743
Have you looked into [PasteImageFilter](https://itk.org/Doxygen/html/classitk_1_1PasteImageFilter.html)? It should be a kind of RoI in reverse.

[2021-09-20 14:02] Janneke80 commented on #2741
Note that the same issue seems to exist in itkImageRegionSplitterDirection.cxx

[2021-09-20 14:34] seanm commented on #1478
This no longer repros.

I guess someone fixed it!

[2021-09-20 14:34] #1478 closed

[2021-09-21 14:31] issakomi commented on #2735
I have tried to run the above test with Valgrind on Debian 11, ITK-5.2.1 release. No leaks or other errors were detected. I don't the classes in my apps, maybe i am missing something. Could you reproduce leaks with Valgrind? And yes, probably it were not bad to review gdcmSeriesHelper.cxx.

[2021-09-21 14:53] PHLF commented on #2735
When running my application with massif (valgrind heap analyzer) the allocated memory reach a limit value for an unknown reason. But when use the path of a folder containing several dicoms as a parameter to the `itk::GDCMSeriesFileNames::SetInputDirectory` I clearly see an amount of memory being allocated corresponding to the size of my folder's content. And this memory is never freed when I call

[2021-09-21 15:40] 7oud commented on #2743
@dzenanz Very helpful advice.

[2021-09-21 15:44] issakomi commented on #2735
OK, i have looked at it again, in fact, tried folder with DICOM subfolders, 1GB. The scan seems to stress the memory, it grows and grows, after it is done with one sub-folder, it start another and memory is not freed. Valgrind still doesn't detect a leak, because memory is freed at exit.

[2021-09-22 11:43] #2741 closed

[2021-09-28 08:36] junqiangchen opened #2760 "3d rotation bounding box？"
hi,i use LabelGeometryImageFilterType function extract the bounding box,but i want to get rotated bounding box,including the bounding box center point,bounding box size and rotated angles with x-axis,y-axis,z-axis,is there have any function can do it?

[2021-09-28 13:17] blowekamp commented on #2760
Hello,

I believe you are looking for the "OrientedBoundingBox" attributes of the [ShapeLabelMap](https://itk.org/Doxygen/html/classitk_1_1ShapeLabelObject.html) object. These attributes consist of Direction, Origin, Size and Vertices. The direction and origin are useful when resampling the OBB to a new image. The "center point" could be computed as the average of the vertices, or the origin offse

[2021-09-29 15:39] jcrudy opened #2762 "Building v5.2.1 fails on itkDCMTKImageIO.cxx"
### Description

I get a build failure saying some types are not defined (output below).  It seems that the file ITK-build/Wrapping/itkDCMTKImageIO.cxx generated by the wrapping system is missing some includes. It seems the includes are missing from here: https://github.com/InsightSoftwareConsortium/ITK/blob/047fa6934ac32711d1d7b84fa6eb81c72db01960/Modules/IO/DCMTK/wrapping/itkDCMTKImageIO.wrap

T

[2021-09-29 19:21] jcrudy commented on #2762
Two more bits of info:
1. Someone else seems to have hit this issue: https://discourse.slicer.org/t/build-error-when-building-itkpython/15302
2. Modifying the file I linked above (https://github.com/InsightSoftwareConsortium/ITK/blob/047fa6934ac32711d1d7b84fa6eb81c72db01960/Modules/IO/DCMTK/wrapping/itkDCMTKImageIO.wrap) to add the missing includes has allowed the build to progress beyond that poi

[2021-09-29 19:54] dyollb opened #2763 "itk pythonic interface (imread, imwrite) doesn't support pathlib.Path"
### Description

The ITK python interface doesn't support `pathlib.Path` paths.

### Steps to Reproduce

Run following code:
[code]

This results in following error:

As a workaround I can import the same file if I convert the `Path` object to  a `str` or f-string, e.g.
[code]

### Expected behavior

`pathlib.Path` is widely used and often better than `os.path`. ITK should support it.

### Actual

[2021-09-29 19:57] dzenanz commented on #2762
Can you please [submit a PR](https://github.com/InsightSoftwareConsortium/ITK/blob/master/CONTRIBUTING.md)?

[2021-09-30 18:51] jcrudy commented on #2762
Done.  See #2764

[2021-09-30 21:24] dyollb commented on #2763
@thewtex would be great if this could be fixed. if you can point me in the right direction I can have a look if I can come up with a PR, but I have never dug into the ITK wrapping infrastructure.

[2021-09-30 22:07] dzenanz commented on #2763
I guess you should look at https://github.com/InsightSoftwareConsortium/ITK/blob/895fc718e814527aa156f7ff63ca8d5e15761d26/Wrapping/Generators/Python/itk/support/extras.py#L868
and other similar instances in that file for `imread`, `meshread` etc.

[2021-09-30 22:09] dzenanz commented on #2763
Perhaps most instructive is handling in `imread`:
https://github.com/InsightSoftwareConsortium/ITK/blob/895fc718e814527aa156f7ff63ca8d5e15761d26/Wrapping/Generators/Python/itk/support/extras.py#L937
You could add a similar if condition to convert `pathlib.Path` into a plain string.

[2021-10-01 09:36] GenevieveBuckley commented on #1091
So I think I'm almost there.

### Approach

Reusing the `itkimage_to_json` & `itkimage_from_json` functions, from the link Matt gave [here](https://github.com/InsightSoftwareConsortium/itkwidgets/blob/c4f3b158719bbb2720ef2fadcc3df8990a3feb95/itkwidgets/trait_types.py#L163-L172) seems like the best approach.
<details>
<summary>Details:</summary>

[code]

</details>

... then it looks like all we ne

[2021-10-03 22:41] jhlegarreta commented on #513
@ChristianJacobsen Another good candidates to get this enhancement are these two:
https://github.com/InsightSoftwareConsortium/ITK/blob/f81578bbb6242032b611d7e3e4dca3b7557fbbe0/Modules/Core/Common/include/itkNeighborhood.hxx#L170

`m_StrideTable` and `m_OffsetTable`

:+1:

[2021-10-04 01:21] #2762 closed

[2021-10-04 01:34] thewtex commented on #2746
Re `ITK_USE_GPU` and Python wrapping, we are updating the OpenCL GPU framework and providing Python packages in:

https://github.com/InsightSoftwareConsortium/ITKCLEsperanto
https://github.com/InsightSoftwareConsortium/ITKVkFFTBackend

These are works in progress, but they will provide binary Python packages that will *just work*.

[2021-10-04 01:44] thewtex commented on #2763
@dyollb thanks for the report. Yes, you are right.

@dzenanz points to good locations. @dyollb if you could please create a patch, that would be appreciated! The changes are, e.g.

https://github.com/InsightSoftwareConsortium/ITK/blob/bcac892743c9171ba74131d29f9b47c53e671409/Wrapping/Generators/Python/itk/support/extras.py#L959

to
[code]

https://github.com/InsightSoftwareConsortium/ITK/blob/bcac

[2021-10-04 06:36] SimonRit opened #2776 "Exception not caught with PoolMultiThreader if not in main task"
### Description

An exception is launched but not caught by PoolMultiThreader when the exception is not launched by the main task.

### Steps to Reproduce

I have written the following minimal example to reproduce the issue:

[code]
### Expected behavior

The following should be displayed
[code]
which occurs with the environment variable ITK_GLOBAL_DEFAULT_THREADER=PLATFORM

### Actual behavior

[

[2021-10-04 07:32] ebarjou commented on #2746
Thanks for your responses !
I got RTK to compile and will try the pre-compiled python packages.

Should I close the ticket, or leave it open?

[2021-10-04 09:24] glatzan commented on #2529
I had the same error using mingw32.
After commenting out the quoted define, everything compiled without erros!

[2021-10-04 09:59] SimonRit commented on #2776
Bug introduced by 181171da2146b3a17fb15028627e592ed0627841

[2021-10-04 20:54] dyollb commented on #2763
Thanks. I am on vacation this week. Will try next week.

[2021-10-05 06:29] hksonngan commented on #1607
Hi,
I got the same issue. Any idea to fix this?

[2021-10-05 13:56] dzenanz commented on #1607
Which version of ITK are you using? It should have been fixed by #1616.

[2021-10-05 15:51] #2776 closed

[2021-10-05 19:13] thewtex commented on #2746
@ebarjou great to hear.

Yes, if you could please close the issue and open more as needed :-)

[2021-10-06 11:22] #2746 closed

[2021-10-06 13:50] Leengit commented on #2676
Not understanding a `using` statement defined within a class declaration to refer to the superclass is also a piece of the problem with #2759 / #2780.  There the solution to make VS2017 happy is to replace the definition of a member function (outside the class declaration; that is, in a `*.hxx` file) so that the type is trailing (`->`) rather than before the function name.  Here the solution to ma

[2021-10-06 16:48] hksonngan commented on #1607
Thanks. I update my ITK and it fixed

[2021-10-08 14:40] dzenanz opened #2789 "FEM module does not compile"
FEM module is currently broken, not compiling. [Dashboard entry](https://open.cdash.org/viewBuildError.php?buildid=7499975): `m:\dashboard\itk\modules\numerics\fem\include\itkFEMElementStd.h(75): error C2886: 'FEMLightObject': symbol cannot be used in a member using-declaration [M:\Dashboard\ITK-build\Modules\Numerics\FEM\src\ITKFEM.vcxproj]`

[2021-10-10 15:17] jhlegarreta opened #2798 "Compiling `DCMTK` shows a Mac file format warning for `arith.h`"
### Description

When compiling ITK with `IODCMTK` third-party module, the compiler shows a warning saying that the file
`config/include/dcmtk/config/arith.h` is generated with Mac file format, and that it should be converted to DOS/UNIX format.

### Steps to Reproduce

Clone ITK at the specified commit (or `master`) and compile with `Module_ITKIODCMTK` set to `ON` (no system `DCMTK` used).

### E

[2021-10-11 18:14] #2789 closed, assigned to dzenanz

[2021-10-11 18:29] dzenanz opened #2802 "Use ReadImage and WriteImage functions where appropriate"
Setting up a reader or a writer just to use them once in a straightforward way requires 5 lines of code, and it can be accomplished by using the appropriate convenience function.

`itk::ReadImage` and `itk::WriteImage` are available since ITK 5.2.0. See https://github.com/InsightSoftwareConsortium/ITKSphinxExamples/pull/225
for an illustration of the changes required and https://github.com/Insight

[2021-10-13 12:51] #2763 closed

[2021-10-15 00:37] jhlegarreta opened #2817 "`DCMTK` `IO` module does not compile on Windows"
### Description

The `DCMTK` `IO` module does not compile.

### Steps to Reproduce

1. Configure ITK with the `Module_ITKIODCMTK:BOOL=ON`; `DCMTK_USE_ICU=OFF`
2. Build ITK
3. ITK will fail to compile with the following message
[code]

The file, however, does exist in the build tree:
[code]

### Expected behavior

ITK should build with no errors.

### Actual behavior

It does not build.

### Reprod

[2021-10-18 14:46] jhlegarreta opened #2825 "Dynamic analysis failures in itkImageFileWriterStreamingTest1 and itkImageFileWriterPastingTest2"
### Description

Valgrind has been consistently reporting failures for the following IO tests:
[code]

See for example the latest report:
https://open.cdash.org/viewDynamicAnalysisFile.php?id=8822872

### Steps to Reproduce

1. Clone ITK `master`
2. Configure and build with the `BULD_TESTING` flag to `ON`.
3. Run Valgrind on the `ImageBase` `IO` module.

Otherwise, see the error report submitted t

[2021-10-18 16:35] blowekamp commented on #2825
The Valgrind build was changed to ubuntu. The old Centos has a suppression for this, but the function name mangling of the SystemTools methods no longer match.

The suppression file needs to be updated.

[2021-10-19 13:21] badshah400 opened #2827 "Compilation error when building with glibc 2.34"
### Description

When building with `glibc 2.34` on openSUSE Tumbleweed, the following compilation errors are reported and the build aborts:

[code]

There are more complaints along similar lines, please see the full build log attached here:  [_log.zip](https://github.com/InsightSoftwareConsortium/ITK/files/7373555/_log.zip)

### Steps to Reproduce

Compile ITK against glibc >= 2.34.

### Reproduc

[2021-10-21 05:53] GenevieveBuckley commented on #1091
Excellent, I've opened a PR over at https://github.com/InsightSoftwareConsortium/ITK/pull/2829, and outlined [what the next steps are here](https://github.com/InsightSoftwareConsortium/ITK/pull/2829#issuecomment-948279178).

[2021-10-21 13:04] thewtex opened #2831 "Add lock-free threading backend based on C++20 coroutines"
The corresponding class should be `Experimental` and should only be compiled when C++20 coroutines are available.

Could be based on: https://github.com/ConorWilliams/Forkpool

[2021-10-21 16:46] badshah400 commented on #2827
[code]

[2021-10-24 18:40] aylward opened #2835 "itkPython: itkImage use in np.where returns incorrect results"
### Description

It is possible to pass an itkImage to a numpy.where call, but the results are incorrect.   A test of
`np.where(<itk::Image>==<value>, <true_result>, <false_result>)` will return an image full of `<false_result>`, regardless of the value of `<value>` and regardless of the content of the image.

### Steps to Reproduce

See attached ipython notebook.   In summary

[code]

Produces...

[2021-10-26 16:08] #2827 closed, assigned to nobody

[2021-10-26 20:11] blowekamp opened #2838 "Linking errors with shared libraries with GradientDescentOptimizerv4Template symbols"
I am getting linking errors on windows with shared libraries with this change. Linking error such as:
[code]
This is occurring because LBFGS2Optimizerv4 is a non-templated class and is compiled into the shared library. However, GradientDescentOptimizerv4Template is a template class as it linkage is specified as such, but it is being implicitly compiled and included in the ITKOptimizersv4 library a

[2021-10-26 22:53] jhlegarreta opened #2839 "Thread sanitizer reporting non-existing test files"
### Description

The thread sanitizer (`Mac12.x-AppleClang-dbg-TSan`) build in `RogueResearch19` has been consistently reporting 5 tests not being run due to required files being missing:
https://open.cdash.org/viewTest.php?onlynotrun&buildid=7534737

### Steps to Reproduce

1. Set up a machine using Clang's thread sanitizer (https://clang.llvm.org/docs/ThreadSanitizer.html)
2. Clone ITK
3. Config

[2021-10-27 20:22] thewtex opened #2844 "Replace ImportImageContainer with an xtensor"
Replace the [`itk::ImportImageContainer`](https://itk.org/Doxygen413/html/classitk_1_1ImportImageContainer.html) use to hold pixel buffer data by `itk::Image` with an [xtensor](https://github.com/xtensor-stack/xtensor) array. This would provide NumPy-like functionality in C++ on the pixel data.

[2021-10-28 19:01] dzenanz opened #2849 "Remove MetaProgrammingLibrary and replace by C++14 STL equivalents"
Since we started requiring C++11 `itk::mpl` is fairly redundant. Even more so now that we require a minimum of C++14. It is desireable to completely remove this and rely on standard template library and language features directly.

Part of this is already accomplished, mostly by #2730, but also in part by d3e151f09d04830c8ef6ac2f2b104d247ffb99f3 and perhaps some other, earlier refactoring.

[2021-10-29 11:59] #2838 closed, assigned to nobody

[2021-11-02 19:36] seanm commented on #2839
I ***think*** tomorrow's cdash should have a working TSan submission from Rogue19.

[2021-11-03 01:58] seanm commented on #2839
OK, the build I ran by hand worked, now "only" 283 tests failing:

https://open.cdash.org/viewTest.php?onlyfailed&buildid=7550267

This patch should fix some:

https://github.com/InsightSoftwareConsortium/ITK/pull/2853

[2021-11-03 13:12] jhlegarreta commented on #2825
Looks like after PRs #2842 and #2851 got merged the mentioned tests no longer report dynamic analysis failures:
https://open.cdash.org/viewDynamicAnalysis.php?buildid=7551290

Today's is the first build with both patch sets, so if they are not listed in the analyses for the next few days I think we can consider the issue as solved.

Thanks @blowekamp and @bradking .

[2021-11-03 13:56] dzenanz commented on #2825
Let's close now, and if the problem is not solved we can reopen.

[2021-11-03 13:56] #2825 closed

[2021-11-04 20:41] seanm opened #2858 "4 Python tests fail. Maybe macOS specific? Maybe vtkDebugLeaks issue?"
I recently enabled `ITK_WRAP_PYTHON` on the RogueResearch20 nightly build, and there are 4 tests that fail in master:

https://open.cdash.org/viewTest.php?onlyfailed&buildid=7553055

- PythonVerifyTTypeAPIConsistency
- PythonVerifyGetOutputAPIConsistency
- PythonTypeTest
- PythonGetNameOfClass

The executable returned exit code 1, that is what makes it a failure. I don't know why it does that. Mig

[2021-11-09 20:36] tbirdso commented on #2233
Revisiting this issue as it is especially relevant with FFT factories being added in [https://github.com/InsightSoftwareConsortium/ITK/pull/2836](https://github.com/InsightSoftwareConsortium/ITK/pull/2836) which do not have an extra Reader/Writer class to typically handle default registration.

Will investigate additional code injection in `igenerator.py`, possibly with a new `factories` field in

[2021-11-11 06:04] #1091 closed

[2021-11-11 06:25] jakirkham commented on #1948
The pickling side of the story seems to be largely addressed through PR ( https://github.com/InsightSoftwareConsortium/ITK/pull/2829 ) if I'm not mistaken. Dask serialization builds on that a bit, but just supporting pickle should be pretty good there (unless you see a need for additional performance gains).

The remaining question here would be handling GPU data without device-to-host/host-to-dev

[2021-11-12 14:06] jhlegarreta commented on #2839
@seanm I had a look at the last TSan builds and it looks like the issue I reported has been fixed since a few days/you made the proper setup of the build.

I'd say the issue is fixed. Do you agree if I close?

[2021-11-12 15:09] seanm commented on #2839
Agreed.

[2021-11-12 15:11] #2839 closed

[2021-11-12 22:16] N-Dekker commented on #983
FYI, GoogleTest does have an `EXPECT_THROW(statement, expected_exception)` macro:
https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc02/Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest.h#L1952

Being used in various ITK GTest unit tests, for example at:
https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc02/Modules/Core/Transform/test/itkTranslationTr

[2021-11-15 16:13] tim-evain opened #2872 "Windows runtime linking flags (/MD or /MT) are not downstreamed to internal DCMTK build"
Hello ITK team!

### Description

When DCMTK is built through the external project on Windows, the runtime linking flags (/MD, /MT, /MDd, /MTd) don't seem to be downstreamed into the DCMTK config by cmake.
The configuration collides when one try to build an application, as by default ITK config set dynamic linking while DCMTK set static,  (ITK and DCMTK do both build seamlessly though).

### Steps

[2021-11-15 20:50] dzenanz commented on #2872
We should switch [CMake-policy 91](https://cmake.org/cmake/help/git-stage/policy/CMP0091.html) to new style. This was last touched by #2609.

[2021-11-15 20:53] dzenanz commented on #348
I am giving up on this as `zlib-ng` was integrated via #2708 and #2803, adding zstd to NRRD and MetaIO is major undertaking, and there is ongoing OME-Zarr effort.

[2021-11-15 20:53] #348 closed

[2021-11-16 11:12] ozavalistyi opened #2874 "Progress report overflows"
### Description

Despite that it seems from looking at the code of
void ProcessObject::IncrementProgress(float increment)
that it protects from overflow, it doesn't and it easily overflows, if, for example, we increment progress 11 times by 0.1.
But because of floating-point arithmetic, it also overflows if we increment progress 10 times by 0.1.
This is because m_Progress.fetch_add(integerIncremen

[2021-11-16 11:54] ozavalistyi opened #2875 "Some filters report progress both from theader and from themselves"
### Description
In ITK 5 there's a possibility to report progress from threader. It can be controlled by flag ThreaderUpdateProgressOff() or ThreaderUpdateProgressOn().
Right now, 4 filters report their progress both from themselves and from threader, and because of the bug with progress overflow  that I reported earlier (https://github.com/InsightSoftwareConsortium/ITK/issues/2874), the progress

[2021-11-16 14:45] dzenanz commented on #2874
Confirmed.

[2021-11-16 15:00] blowekamp commented on #2874
I think a better implementation of ProcessObject::IncrementProgress could use an std::atomic<T>::atomic_compare_exchange  method. The method could do the overflow check before the "exchange" if the exchange fails then try again.

[2021-11-16 15:01] blowekamp commented on #2875
What multi threader are you using? Could you try with others available?

[2021-11-16 15:33] dzenanz commented on #2874
The proposed PR fixes the obvious error. It does not address possible race between threads, because all threads are expected to increase progress and it does not matter which one maxes out first.

This also alleviates the problem of numeric accuracy (0.1f being, in fact, 0.100000001).

[2021-11-16 15:41] dzenanz commented on #2875
Good investigation @ozavalistyi! Adding a few `ThreaderUpdateProgressOff()` calls should not be hard. Do you want to [contribute](https://github.com/InsightSoftwareConsortium/ITK/blob/master/CONTRIBUTING.md) the fix yourself?

[2021-11-16 15:42] dzenanz commented on #2874
The code I used to reproduce is:
[code]

[2021-11-16 15:50] tim-evain opened #2877 "DCMTK_USE_ICU variable does not overwrite DCMTK config when set to OFF"
Hello folks, another DCMTK related issue here.

### Description

When building the ITKDCMTK_ExtProject with DCMTK_USE_ICU set to OFF, the configuration doesn't overwrite the  DCMTK_WITH_ICU (DCMTK-side) variable. On system where ICU libraries are present, this lead to DCMTK finding and setting itself to DCMTK_WITH_ICU=ON, which in turn lead to linking error when trying to build an application.

##

[2021-11-16 19:16] dzenanz commented on #2877
Your proposed fix sounds good to me. Can you make a PR?

[2021-11-16 22:49] #2874 closed

[2021-11-17 07:37] tim-evain commented on #2877
Yeah sure. I'll try to do that for the end of the week.

[2021-11-17 18:09] nicktasios commented on #2416
I'm having the same issue when converting medical image segmentations that are saved as meshes.

[2021-11-19 16:07] nicktasios opened #2884 "TriangleMeshToBinaryImageFilter not giving correct result after padding image and cropping output"
### Description

Due to a [bug](https://github.com/InsightSoftwareConsortium/ITK/issues/2416) with `TriangleMeshToBinaryImageFilter` where it can get corrupt near the edges, I tried padding the image and then cropping it by 1 pixel border. Unfortunately, that shifts the final results as you can see here:
<img width="410" alt="image" src="https://user-images.githubusercontent.com/91547393/142653607

[2021-11-19 16:12] nicktasios opened #2885 "CropImageFilter complaints about 0 image size"
### Description

When passing a filter output to `CropImageFilter` I get  the following error if I don't update the filter first.
[code]

### Steps to Reproduce

Run the following:
[code]
If the `Update` is uncommented it works fine.

### Expected behavior

I should not need to call `Update` on the filter before passing it as input to `CropImageFilter`.

### Versions

Python ITK '5.2.1'

### Envir

[2021-11-19 17:19] blowekamp commented on #2885
My expectation is that this is a bug with `TriangleMeshToBinaryImageFilter`. VerifyOutputInformation should be called after UpdateOutputInformation. The TriangleMeshToBinaryImageFilter should update it's output's size in UpdateOutputInformation.These error messages seem to indicate this.

[2021-11-22 15:59] wwaleww opened #2891 "Writing DICOM Spacing Between Slices tag (0018,0088) correctly"
### Description

Following [this discussion](https://github.com/SimpleITK/SimpleITK/issues/1510), I noticed that the DICOM tag (0018,0088) - Spacing Between Slices - is not written correctly when writing an ITK image using the [DICOM writing example](https://simpleitk.readthedocs.io/en/master/link_DicomSeriesReadModifyWrite_docs.html) from SimpleITK.

### Expected behavior

I would expect that, ju

[2021-11-22 20:33] blowekamp opened #2892 "Compilation Warning with Visual Studio C++ v142 (2019)"
We are getting the following compilation warnings 200+ times:
C:\Program Files (x86)\Windows Kits\10\Include\10.0.17763.0\ucrt\corecrt_memory.h(76,5): warning C5105: macro expansion producing 'defined' has undefined behavior (compiling source file D:\a\1\bld\ITK\Modules\ThirdParty\ZLIB\src\itkzlib-ng\chunkset.c) [D:\a\1\bld\ITK-build\Modules\ThirdParty\ZLIB\src\itkzlib-ng\zlib.vcxproj] [D:\a\1\bld

[2021-11-22 20:49] emmenlau opened #2893 "Should SignedMaurerDistanceMapImageFilter accept non-floating outputs? Docs says so?"
From the documentation of SignedMaurerDistanceMapImageFilter, I was understanding that its perfectly valid to use output images of integral type. Quoting from the docs (emphasis mine):

To maintain integer arithmetic within the filter, the default output is the signed squared distance. This implies that the input image should be of type "unsigned int" or "int" whereas the **output image is of type

[2021-11-22 21:09] emmenlau commented on #2700
I think this is the default behavior for a histogram? As an example, a histogram for data type `uint8_t` is typically created so that it can count all integral value that fit into that data type, which is values `0` to `255`. In total that is `256` values, which is the same as "the largest possible pixel value plus 1".

A different question is if that filter should be changed to have a *default* o

[2021-11-22 21:23] dzenanz commented on #2893
Following #1975 and #1997, maybe docs should be updated?

While it would probably work to just remove the concept check, I advise against it as I have been burned by it - spent hours tracking down where some wrong results come from.

[2021-11-22 21:32] dzenanz commented on #2892
I normally use VS2019, and ITK compiles without these warnings. Maybe you have a different warning level? I took a look at `chunkset.c`, which is pretty small, and I could not find a possible offender. Do you have a direct link to that dashboard entry? I could [not find it](https://open.cdash.org/index.php?project=simpleITK).

[2021-11-22 21:56] blowekamp commented on #2892
Is v141 or v142 the default with VS2019?

I unaware of additional warning flags being passed to ITK. The external project file is here: https://github.com/SimpleITK/SimpleITK/blob/master/SuperBuild/External_ITK.cmake

Here are the warnings:
https://open.cdash.org/viewBuildError.php?type=1&buildid=7583963

And the two builds which get the warnings are in the continuous section:
https://open.cdash.o

[2021-11-22 21:57] emmenlau commented on #2893
I have not checked the code in detail. But looking at the results, I think that if `GetSquaredDistance()` and `GetUseImageSpacing()` are both false, the results should always be integral.

But I can see that this may be a special case that is not so worthwhile to support?

[2021-11-22 22:03] dzenanz commented on #2892
v142 is the default for VS2019.

@N-Dekker did you encounter something like this?

[2021-11-22 22:11] dzenanz commented on #2893
https://github.com/InsightSoftwareConsortium/ITK/blob/047fa6934ac32711d1d7b84fa6eb81c72db01960/Modules/Filtering/DistanceMap/include/itkSignedMaurerDistanceMapImageFilter.h#L197-L198
The defaults are the opposite of that case. If we allowed integer outputs, the problematic case would appear frequently.
If you compile ITK with `ITK_USE_CONCEPT_CHECKING=OFF`, you should still be able to use integer

[2021-11-22 22:39] emmenlau commented on #2893
Well, some other libraries that I know of use rounding for the case of integral outputs. It depends on the use case if this approximation is good enough. But I can see that this would require a number of changes in the filter to better support integral outputs.

[2021-11-22 23:40] N-Dekker commented on #2892
I haven't seen this warning before. But it appears reproducible at https://godbolt.org/z/E3nWod3xz

Having the example code from https://docs.microsoft.com/en-us/cpp/error-messages/compiler-warnings/c5105?view=msvc-170 as follows:
[code]
Hope that helps!

[2021-11-23 00:03] Itsanewday commented on #2700
thanks

---Original---
From: "Mario ***@***.***&gt;
Date: Tue, Nov 23, 2021 05:09 AM
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [InsightSoftwareConsortium/ITK] Doubt aboutitkScalarImageToCooccurenceMatrixFilter (#2700)

What makes me doubtful is that why the largest possible pixel value plus 1?

I think this is the default behavior for a histogram? As an example, a histogram

[2021-11-23 14:37] dzenanz commented on #2892
But I don't see where such a pattern occurs in zlib. Can you point me to that please?

[2021-11-23 14:41] dzenanz commented on #2700
Can this issue be closed now?

[2021-11-23 15:04] #2700 closed

[2021-11-23 15:05] Itsanewday commented on #2700
Oh, i fogot it.

[2021-11-23 15:22] N-Dekker commented on #2892
Not sure, but maybe the following line of code triggered the warning:

It's at line 76 of corecrt_memory.h and line 573 of corecrt_wstring.h at C:\Program Files (x86)\Windows Kits\10\Include\10.0.18362.0\ucrt on my laptop.

[2021-11-23 15:37] dzenanz commented on #2892
Yes, but which line in zlib triggers that?

[2021-11-23 16:01] blowekamp commented on #2892
This CMake issue looks similar:
https://gitlab.kitware.com/cmake/cmake/-/issues/21446

It may be issues related to the Windows SDK version 10.0.17763.0.  This is the version which Azure DevOps is using currently.

I could not reproduce with a new VM with a download of VS2022 ( assuming it is using a very new SDK ).

[2021-11-23 16:22] N-Dekker commented on #2892
@dzenanz  According to the message reported by Bradley:

[2021-11-23 16:26] N-Dekker commented on #2892
A newer version of corecrt_memory.h, from C:\Program Files (x86)\Windows Kits\10\Include\10.0.19041.0\ucrt says at line 18:

I guess that may have disabled their own warning!

[2021-11-26 11:09] ggardet opened #2903 "Build of 5.2.1 fails on aarch64 with error: use of undeclared identifier 'vrndmq_f32'"
### Description
Building ITK 5.2.1 on openSUSE Tumbleweed aarch64 with eigen 3.4.0, I get th following error:
[code]

### Steps to Reproduce

Build against eigen 3.4.0 (?)

### Expected behavior
Build should succeed on aarch64.

### Actual behavior
Build fails on aarch64.

### Reproducibility
100%

### Versions
ITK 5.2.1

### Environment
openSUSE Tumbleweed aarch64

### Additional Information
N/A

[2021-11-26 11:14] ggardet commented on #2903
Cc @badshah400

[2021-11-26 13:08] blowekamp commented on #2892
I am going to consider a bug in the "10.0.17763.0" version of the Windows 10 Kit, which is resolved by latter versions, and not an ITK bug.

[2021-11-26 13:08] #2892 closed

[2021-11-28 17:14] #2877 closed

[2021-11-29 20:29] PranjalSahu opened #2908 "ITK Build Failure when doing Python Wrapping using Make"
### Description

Build failure when building ITK with cmake using Make. It fails at around 41% progress with the following message.
[code]
I have tested both single thread and multi thread build with make (eg. make -j8). It fails for both cases.

It is building fine when using Ninja.

Also I have narrowed down the change to commit: [ENH: Generate stub-files to support type hints](https://github.co

[2021-11-29 20:30] PranjalSahu commented on #2908
@kian-weimer @hjmjohnson

[2021-11-30 19:21] kian-weimer commented on #2908
Thanks for alerting me to this issue. I'm now looking into the issue.

[2021-11-30 20:56] thewtex opened #2909 "Use global, cross-binary singleton for itk::ObjectFactoryBase"
Similar to the global, cross-binary singleton for the global timestamp, use a pointer for the object factory that is synchronized across Python module binaries on initialization.

After implementation, attempt a revert of https://github.com/InsightSoftwareConsortium/ITK/pull/2864/commits/35df104b3eaf2fbd7c765d1e786db804bdf5fbbd

[2021-12-01 02:22] jhlegarreta commented on #983
Slightly related: for methods that only display warnings, we may need to add macros  to `itkTestingMacros.h` in order to:
- capture the standard output, and
- check that the message emitted by a method matches the one displayed

[2021-12-01 21:02] hjmjohnson commented on #2908
I am trying to replicate the problem.

[2021-12-01 21:24] hjmjohnson commented on #2908
I think I found the problem.  Fix coming shortly.

[2021-12-01 21:43] hjmjohnson commented on #2189
This problem has resurfaced again.  On mac build, every other cmake config causes the file to be removed.

There is an indication that this is fixed in upstream versions of HDF5 where the "byproduct" option is used.  https://gitlab.kitware.com/paraview/paraview/-/issues/19787

Note changes need to be tested for @thewtex  changes with emscripten.

[2021-12-01 22:19] seanm commented on #2189
I have this to bring ITK closer to HDF5 upstream: https://github.com/InsightSoftwareConsortium/ITK/pull/2832 but I'm rather stuck on it...

[2021-12-02 00:56] jhlegarreta commented on #983
https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc02/Modules/ThirdParty/GoogleTest/src/itkgoogletest/googletest/include/gtest/gtest.h#L1952

https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc02/Modules/Core/Transform/test/itkTranslationTransformGTest.cxx#L41

Those checks are still not exception-specific. This issue was raised by a situation where the same exception type was be

[2021-12-02 11:17] ChFed opened #2916 "Fail to build on MacBook Pro M1 Pro"
Hello Everyone,

I could not build ITK on a new MacBook Pro M1 Pro.  I did pull the latest master.

Undefined symbols for architecture arm64:  "_itk_png_do_expand_palette_rgb8_neon"

interestingly this issue does not occur on a MacMini M1.

any ideas?

thank you and best regards,

Christian

Showing All Messages
[100%] Built target ITKIOMeshOBJ-all

[100%] Built target ITKIOMeshBYU-all

[100%] Bui

[2021-12-02 16:17] seanm commented on #2916
What different between your Mini and your MacBook?  OS version?  Xcode version? cmake version?

[2021-12-02 16:19] thewtex opened #2917 "Enforce positive Spacing"
### Description

While image pixel spacing is assumed to be a positive length unit in ITK, this had not been strictly enforced in the past, and some applications used negative spacing to flip data direction. If a flip is desired, this is supported in ITK's `Direction` instead of `Spacing`.

Change the warning here:

master/Modules/Core/Common/include/itkImageBase.hxx#L75

to an error.

### Impact

[2021-12-02 16:34] blowekamp commented on #2917
There exists image files with negative spacing. We must ensure that we are still able to read these files.

I think this is already done in the ImageFileReader:
https://github.com/InsightSoftwareConsortium/ITK/blob/6853d63728a181e437f45473deb53c111eb1a6b7/Modules/IO/ImageBase/include/itkImageFileReader.hxx#L220-L233

[2021-12-02 16:37] seanm commented on #2917
I recall some previous ITK version (4 to 5?) did some changes with negative space and I had to carry a local patch for a while... I'd be interested to test any PR that comes along...

[2021-12-02 16:46] blowekamp commented on #2917
Could this be implemented now with a "FUTURE_LEGACY_REMOVE" conditional?

[2021-12-02 19:31] dzenanz commented on #2917
It was [originally implemented](https://github.com/InsightSoftwareConsortium/ITK/commit/d447f0452bb5ea92a555e630d05b57da535bd3a9) with `FUTURE_LEGACY_REMOVE`, and that has been transformed into `LEGACY_REMOVE` during [transition to 5.0](https://github.com/InsightSoftwareConsortium/ITK/commit/5c84e6e6b4768e596439c9879d86f51fa4bda51a). So when we switch to 6.0, just remove conditional and throw an e

[2021-12-02 19:39] dzenanz commented on #2917
The logic in my previous comment would hold, have the feature been working properly, see discussion in https://github.com/InsightSoftwareConsortium/ITK/pull/2911#issuecomment-984941366. Now I am not sure whether to remove it completely in 6.0, or keep it as legacy.

[2021-12-02 20:56] blowekamp commented on #2917
Perhaps there will be some ITKv5_COMPATIBILITY option, if necessary.

[2021-12-02 20:59] thewtex commented on #2835
Related:

- https://data-apis.org/array-api/latest/index.html
- https://labs.quansight.org/blog/2019/07/uarray-update-api-changes-overhead-and-comparison-to-__array_function__/
- https://labs.quansight.org/blog/2021/11/pydata-extensibility-vision/

[2021-12-02 23:21] ChFed commented on #2916
Thank you for your fast reply

MacMini M1: Mac OS v 12.0.1, XCode 13.1, cmake 3.21.1
MacBookPro M1 Pro: Mac OS v 12.0.1, XCode 13.1, cmake 3.20.1, upgraded to 3.22, still same error.

Copying the build ITK folder from the MacMini to the MacBookPro does work...

[2021-12-03 00:17] seanm commented on #2916
there must be some difference... you doing a plain build with default cmake options? Or, changing any options?

Might help to diff your CMakeCache.txt files.

[2021-12-04 17:22] jhlegarreta opened #2925 "Test default default cases for strongly typed enum serialization"
### Description

Test default default cases (corresponding to non-existing enum values) for strongly typed enum serialization.

### Expected behavior

Default cases should also be tested.

### Actual behavior

Default cases are not being tested because the set of enum values for testing are systematically built using enum values corresponding to existing cases, e.g.
[code]

Corresponding to:
https

[2021-12-06 11:59] crossmanith opened #2926 "itk::BresenhamLine"
BuildLine(IndexType p0, IndexType p1) creates lines exceeding the end point p1

https://itk.org/ITKExamples/src/Core/Common/BresenhamLine/Documentation.html?highlight=bresenham:
In method Line() a line from (0,0) to (5,5) is requested but a line from (0,0) to (6,6) is created.

[2021-12-06 20:57] dzenanz commented on #2926
Confirmed. Increasing (5,5) in that example makes the error more pronounced, e.g. (70,70) gives last index of [98,98].

[2021-12-07 03:25] Hconk opened #2928 "Crash when use ImageFileReader read jpeg"
### Description
If compile with release version. When I use `ImageFileReader` read some broke jpeg image, it's crash in Update function. I expected throw an exception.
But success in Debug.

### Steps to Reproduce
Build With Release.
https://gist.github.com/Hconk/5b1bed75ebb3c62757277a1367d61edb

### Expected behavior
If image broke, expect throw an exception.

### Actual behavior
Crash at update.

[2021-12-07 14:52] dzenanz commented on #2928
I can't reproduce your error with a recent `master` 05ae9a5061555598bff524ff958fca66aa5b37db.
[code]
produces
[code]

[2021-12-08 01:19] #2908 closed

[2021-12-08 01:22] Hconk commented on #2928
Did you test with the release version? I only reproduce in release.

[2021-12-08 03:42] thewtex commented on #2884
@dzenanz any thoughts on how to approach this?

[2021-12-08 03:49] thewtex commented on #2903
@ggardet the build succeeds with ITK's vendorized version of Eigen? If so, can you diff ITK vs openSUSE Eigen and submit a patch to the OpenSUSE Eigen package?

[2021-12-08 07:57] ggardet commented on #2903
The commit involved is likely https://gitlab.com/libeigen/eigen/-/commit/1e0c7d4f4933b12a325dbaa2c79ce946bb13f7d6

[2021-12-08 10:18] ggardet commented on #2903
I reported the issue to eigen: https://gitlab.com/libeigen/eigen/-/issues/2390

[2021-12-08 15:20] dzenanz commented on #2928
I tried both `Debug` and `RelWithDebInfo` builds, and they both work.

[2021-12-08 17:17] hjmjohnson opened #2931 "ITK can only be wrapped for Python"
### Description

At the moment, ITK is only tested, and is only successful in wrapping, ITK for Python bindings.

Java, Ruby, TCL all seem to be broken.

### Steps to Reproduce

Try to configure wrapping *ONLY* for one of the non-python languages (i.e. ruby)

### Expected behavior

Successful compilation of non-python bindings.

### Actual behavior

[code]

because .wrap files are hard-coded for p

[2021-12-08 17:50] issakomi commented on #2928
On Debian 10 the files crashes everything related to ITK's JPEG IO: my app, Slicer (tested nightly build), that test program. In _Release_ and _RelWithDebInfo_ builds, _Debug_ builds survive. Eye of Mate and Gimp doesn't crash. The file is broken. I don't hope that _RelWithDebInfo_ can be useful, points c in my app and test app to different code, not sure. Probably _Debug_ build and Valgrind might

[2021-12-08 22:42] #2926 closed

[2021-12-09 03:37] issakomi commented on #2928
Probably i have done a temporary fixed...
The error happens in _jpeg_destroy_decompress(&cinfo);_ I have re-written several times the [Read](https://github.com/InsightSoftwareConsortium/ITK/blob/217c0d408487d454cf9b0f945ab5575c2322ee7a/Modules/IO/JPEG/src/itkJPEGImageIO.cxx#L172) function to find it out and tested version 4.12 with system JPEG (also crashed, BTW). So finally i looked inside Gimp c

[2021-12-09 06:23] Hconk commented on #2928
@issakomi Thanks, I validate your patch code, It's work for me, This problem has bothered me for a long time.

[2021-12-09 06:44] Hconk commented on #2928
Thanks for you tried, I use Github Action build this demo to reproduce this case.

Demo Project: https://github.com/Hconk/ReadJpegDemo
Test  with Debug result: https://github.com/Hconk/ReadJpegDemo/runs/4466987270?check_suite_focus=true
Test  with Release result: https://github.com/Hconk/ReadJpegDemo/runs/4466987349?check_suite_focus=true

I temporarily use @issakomi solution to fix the problem.If

[2021-12-09 09:45] issakomi commented on #2928
@Hconk  Thank you for testing.

If ITK wish the change, s.
https://github.com/InsightSoftwareConsortium/ITK/compare/master...issakomi:jpegio

It is exactly the same, but probably closer to ITK style.

For reference s. [similar GIMP approach](https://gist.github.com/issakomi/eafe45ab32913609856aae680b564cb4#file-jpeg-load-c-L367)

P.S.

It is OK, probably no issue here, tested return values of _jpe

[2021-12-09 09:54] Hconk commented on #2928
@issakomi Great, I need process large number of images, some warnning maybe help me find broken image. Thanks for your work.

[2021-12-09 11:31] issakomi commented on #2928
Maybe i am going to understand where the undefined behavior is from (that strange issues with Debug/Release, different Valgrind error, etc). I suspect that wrapping of _setjmp_ may be the issue, it is extremely sensitive macro, i shall check it and probably make a PR, maybe.

[2021-12-09 12:13] issakomi commented on #2928
Yes. Wrapping of setjump [here](https://github.com/InsightSoftwareConsortium/ITK/blob/217c0d408487d454cf9b0f945ab5575c2322ee7a/Modules/IO/JPEG/src/itkJPEGImageIO.cxx#L58) is **bug**.

I have replaced _wrapSetjmp(itk_jpeg_error_mgr & jerr)_ everywhere with `(setjmp(jerr.setjmp_buffer))` **without** that temporary fix above and results of the test program is:

[code]

I shall look closer.

[2021-12-09 14:41] issakomi commented on #2928
https://github.com/InsightSoftwareConsortium/ITK/compare/master...issakomi:jpeg

Only [itkJPEGImageIO](https://github.com/issakomi/ITK/blob/jpeg/Modules/IO/JPEG/src/itkJPEGImageIO.cxx) changed.

Works as expected, WIP.

There are also some style changes, sorry _auto_ and _reinterpret_cast_ hurt my eyes in `extern C` function, the file is primary for my own usage.

[2021-12-09 15:14] issakomi commented on #2928
Only C-style instead _auto_ and _reinterpret_cast_ in [extern "C" function](https://github.com/issakomi/ITK/blob/de360833e01134e0355632d5d3f4a1b12c3345aa/Modules/IO/JPEG/src/itkJPEGImageIO.cxx#L35) and this possible leak [here](https://github.com/issakomi/ITK/blob/de360833e01134e0355632d5d3f4a1b12c3345aa/Modules/IO/JPEG/src/itkJPEGImageIO.cxx#L525) may be considered as optional, all the rest is re

[2021-12-10 04:20] issakomi commented on #2928
@blowekamp  it was my 1st idea to use the solution from this [post](https://github.com/InsightSoftwareConsortium/ITK/issues/2928#issuecomment-989479032) and stay with 6-lines patch. But then I had tried to turn `(setjmp(jerr.setjmp_buffer))` into `wrapSetjmp(err)` to be consistent with the style of the class and added a warning, strange issues appeared. I replaced other [wraps](https://github.com/

[2021-12-10 05:21] issakomi commented on #2928
BTW, i realized that JPEG errors are supressed
`METHODDEF(void) itk_jpeg_output_message(j_common_ptr) {}`

With error output enabled the messages for the file are:
[code]

[2021-12-10 19:59] dzenanz commented on #2884
I found a workaround (below). I guess the problem is in `TriangleMeshToBinaryImageFilter`. I will circle back to it later.

[code]

[2021-12-11 14:37] Hconk commented on #2928
@dzenanz @issakomi
I found some specially constructed png image also cause crash. When I use `PNGImageIO` read it ,will got some libpng error infomation `libpng error: PNG unsigned integer out of range` then crash. I think it's need throw exception.
Although it is not generated in a real scene, may also need to be fixed. (Maybe need open a new issue.)

Example test data: https://drive.google.com/f

[2021-12-11 21:36] issakomi commented on #2928
Thank you!
Yes, the same, on Debian 10: my app and Slicer crash, Eye of Mate and Gimp don't:

![Screenshot at 2021-12-11 22-30-55](https://user-images.githubusercontent.com/1494580/145692340-1f7f4b18-ced8-439b-a946-dee78f238755.png)

![Screenshot at 2021-12-11 22-31-14](https://user-images.githubusercontent.com/1494580/145692343-d982b3ae-b8d4-4522-86d8-49396b606529.png)

[2021-12-12 00:40] issakomi commented on #2928
Fixed in **WIP** branch

https://github.com/InsightSoftwareConsortium/ITK/compare/master...issakomi:pngio

[2021-12-13 15:31] hjmjohnson opened #2948 "Support for VXL complex abs"
### Description

The new version of VXL supports the "abs" function from the C++ library, thus allowing for
consistent use of "itk::Math::abs(cplxnum)" and "itk::Math::abs(realnum)"

Use of itk::Math::abs for complex numbers requires an updated version of vxl.

### Impact analysis

An updated version of VXL

### Expected behavior

ITK code works with system VXL and standard VXL.

### Actual behavi

[2021-12-13 17:37] tbirdso opened #2950 "BUG: FFT object factories not registered by default in ITK remote module tests"
### Description

FFT image filters were recently updated to allow swappable backends at runtime via object factory methods. Projects consuming ITK and optional remote modules need only include `USEITK.cmake` to construct relevant factory manager files and initiate factory registration. However, ITK and its remote modules itself do not construct these files. As a result ITK factories are not availa

[2021-12-13 17:38] tbirdso commented on #2950
I can follow up on the FFT stopgap measure for now pending discussion of the path forward here.

@thewtex @dzenanz could you please weigh in on whether it is reasonable to make ITK test driver compilations consume `UseITK.cmake` for the purpose of properly registering default factories?

[2021-12-14 03:55] issakomi opened #2954 "itkPyBufferMemoryLeakTest ITK.macOS.Python has possible random failures"
**ITK.macOS.Python**

Sometimes the test fails without any related changes, than works again.

[code]
This makes PRs work harder.

https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Bridge/NumPy/wrapping/test/itkPyBufferMemoryLeakTest.py

[2021-12-14 15:25] dzenanz opened #2956 "Add polyline"
### Description

ITK is missing support for PolyLine, which makes interoperability with VTK hard.

### Expected behavior

Reading a .vtk file which contains PolyLines, and then immediately writing to a different file, should result in the file with the same content as the original.

### Actual behavior

All PolyLines in the original file are chopped up into a sequence of Lines, thus losing connect

[2021-12-15 08:08] Hconk opened #2959 "ImageIOFactory read tiff image get error pixel type."
### Description
I use Photoshop/ImageJ open the test image ,  both get real pixel type of 16bit. But ITK TIFFIO get UCHAR( 8bit ).
![image](https://user-images.githubusercontent.com/8470001/146147676-e132b29d-5436-47b1-8141-eea64e929bac.png)
![image](https://user-images.githubusercontent.com/8470001/146147254-3f1d7d7b-8f95-44aa-8158-0f53fd5b718e.png)

### Steps to Reproduce
[code]

### Expected be

[2021-12-15 08:54] hubutui opened #2960 "itk python binding installed to wrong position for python 3.10"
### Description

Python binding is installed to:
[code]
### Steps to Reproduce
Here is the config for building itk:
[code]

### Environment

OS: ArchLinux
gcc: 11.1.0
python: 3.10.1
itk commit: #commit abb1d19328

### Additional Information

The build stage runs fine, but the `make install` stage outputs:

[code]

See also the complete build log [itk-git.package.txt](https://github.com/InsightSoft

[2021-12-15 14:24] blowekamp opened #2961 "The Danielsson distance filter use pixel type of Offset<>, which does not have a specialized NumericTraits."
Encountered an issue with the `Image::GetNumberOfComponentsPerPixel` method not reporting the correct number of components with the results from `DanielssonDistanceMapImageFilter::VectorDistanceMap`. The resulting image has pixel type `Offset` which is missing a specialized `NumericTraits` to get the correct Length.

While the usage of Offset for a pixel type appears to be rather unusual, the prop

[2021-12-15 15:33] hjmjohnson opened #2963 "Python 3.8 features used"
### Description

This line of a previous patch
https://github.com/InsightSoftwareConsortium/ITK/commit/ed11fdcf7321512641eaef55ecc60cb9919d3c7e#diff-5a1d2bada267526be0b960bf7fa7a3ba81d8159fbe08b9c6aa983838a0cfb7e4R27

introduced the use of 'get_args' which is only supported in python 3.8 and above:

https://stackoverflow.com/a/50101934/485602

### Steps to Reproduce

Run tests against python 3.7

[2021-12-15 16:12] hjmjohnson opened #2964 "GCC 9.30 uninitialized memory read discovered"
### Description

### Steps to Reproduce

'''
/home/johnsonhj/Dashboard/src/ITK/Modules/Core/Common/include/itkHexahedronCell.hxx:385:34: warning: ‘derivs[16]’ is used uninitialized in this function [-Wuninitialized]
  385 |         tcol[j] += pt[j] * derivs[i + 2 * Self::NumberOfPoints];
      |                                  ^
ITK/Modules/Core/Common/include/itkHexahedronCell.hxx:385:34: warnin

[2021-12-15 16:17] blowekamp commented on #2961
The `Offset` pixel type will be notably incomplete compared to other used pixel type, because the Offset is not templated over the component value type, therefore there cannot be a real, Abs etc pixel type.

[2021-12-15 16:48] hjmjohnson commented on #2963
https://docs.python.org/3.8/library/typing.html

[code]

[2021-12-15 18:53] dzenanz commented on #2959
Confirmed that ITK's IO detects 8-bit image. Loading it in Slicer results in a mostly black image. Slightly updated code which works on my computer:
[code]

[2021-12-15 23:15] #2963 closed

[2021-12-16 01:40] issakomi commented on #2959
My suggestion would be to distinguish better _pixel_ and _component_  type

[code]

Output:

[code]

RGBA is [suspicious](https://github.com/InsightSoftwareConsortium/ITK/blob/c779d09bc6ffc3183d045a7369f9929188c2fe18/Modules/IO/TIFF/src/itkTIFFImageIO.cxx#L457), not sure about it. Gimp said _scalar_, 16-bit. But the images are everywhere mostly black. Not sure.

[2021-12-16 01:57] Hconk commented on #2959
@issakomi

Test data 1 all pixel is black. test data 2  need adjust the display gray range to show more:

Gray Range: 0 - 54
![image](https://user-images.githubusercontent.com/8470001/146293796-680fb4f5-6886-441c-ac39-006815cdc13c.png)

[2021-12-16 09:49] Hconk commented on #2959
I found this issue may cause by image orientation info.
The test data 2 exif info is:
[code]
When I use `exiftool` remove the `Orientation` tag from exif info, ITK work well.

https://github.com/InsightSoftwareConsortium/ITK/blob/c779d09bc6ffc3183d045a7369f9929188c2fe18/Modules/IO/TIFF/src/itkTIFFReaderInternal.cxx#L194-L207

`L205` check the image Orientation, when image Orientation is not `ORIEN

[2021-12-17 00:32] wyli opened #2972 "ITK Python: `GetMatrixFromArray` inconsistent type handling"
### Description

`GetMatrixFromArray` doesn't work with an `ArrayLike` list as the type hint suggested:
[code]

### Expected behavior

it should be able to understand lists, similar to `GetVnlMatrixFromArray`:
[code]

### Versions

itk==5.3rc2.post1

### Environment

macOS, Python 3.7

### Additional Information

(I'll try to submit a pull request to rectify this.)

[2021-12-17 07:24] phcerdan opened #2974 "Wrap LabelSetMeasures in itkLabelOverlapMeasuresImageFilter"
[code]

The struct LabelSetMeasures (internal to the filter) is not wrapped.

[2021-12-17 21:05] #2972 closed

[2021-12-17 21:18] dzenanz opened #2976 "Not all remote modules are documented"
### Description

[Group-Remote](https://itk.org/Doxygen/html/group__Group-Remote.html) only lists around a dozen remote modules, probably only those whose compliance level is above default `ITK_MINIMUM_COMPLIANCE_LEVEL`.

### Expected information

All the remote modules included in ITK should be listed there.

### Additional Information

We probably just need to pass `ITK_MINIMUM_COMPLIANCE_LEVEL=

[2021-12-18 11:13] #2954 closed

[2021-12-22 18:39] thewtex commented on #2931
@hjmjohnson is there a particular language of interest? `itk-wasm` could provide bindings to other languages.

[2021-12-22 18:44] thewtex commented on #2928
:clap: :pray: thanks @issakomi for the patches! Can this issue now be close?

[2021-12-22 18:54] thewtex commented on #2960
@hubutui thanks for the report.

To try PyPI packages, use the `--pre` flag to pip to install 5.3rc2, `pip install --upgrade --pre itk`.

[2021-12-22 18:54] thewtex commented on #2960
@hubutui thanks for the report.

To try PyPI packages, use the `--pre` flag to pip to install 5.3rc2, `pip install --upgrade --pre itk`.

[2021-12-22 18:58] thewtex commented on #2964
I have seen this, looked into it, and I did not see an underlying issue. The warning seems to be limited to certain GCC versions. If I recall correctly, it may be also related to `Release` builds.

[2021-12-23 01:16] Hconk commented on #2928
Yes, the problem is solved.

[2021-12-23 02:10] #2928 closed

[2021-12-26 15:23] hubutui commented on #2960
@thewtex Thanks, I found [it](https://pypi.org/project/itk/5.3rc2.post1/#files).

[2021-12-27 15:29] dzenanz opened #2997 "Check and change typos `it's` -> `its`"
The term `it's` can be found 171 times in ITK cxx, h, and hxx files. Check which of these instances should be changed to `its`. From https://github.com/InsightSoftwareConsortium/ITK/pull/2996#discussion_r775281256.

[2021-12-27 16:53] N-Dekker commented on #2997
Actually I think it is a bug in the English language! The idea that `it's` means `it is` is inconsistent with _both_ Trump's _and_ Biden's presidency! The expression "Biden's presidency" cannot be expanded correctly to "Biden _is_ presidency"! It just means "the presidency _of_ Biden"!

If we just keep using the expression `it's things`, meaning "the things _of_ it", maybe they will eventually fix

[2021-12-27 16:55] dzenanz commented on #2997
I totally agree! However, the English language doesn't have a maintainer, much less a GitHub repository 😄

[2021-12-27 18:04] #2960 closed

[2021-12-28 16:14] tbirdso opened #3004 "Reduce duplication among test kernel factory registration methods"
## Motivation

[ITKModuleTest.cmake](https://github.com/InsightSoftwareConsortium/ITK/blob/master/CMake/ITKModuleTest.cmake) defines the `CreateTestDriver` and `CreateTestDriver_SupportBuildInIOFactories` CMake macros for building module tests with the ITKTestKernel module. Having two closely related but independent macros can lead to extra effort and code duplication as discussed in #3002. It wou

[2021-12-28 19:05] dzenanz opened #3006 "Cannot set image spacing via SpacingType::Filled"
This code snippet does not compile:
[code]
producing this error message:
[code]
This is mind boggling.

[2021-12-28 21:05] dzenanz commented on #2884
C++ repro code, to be invoked as `tester sphere.vtk sphere.nrrd 1` (the inputs are created by the Pytho n version above):
[code]

[2021-12-28 21:10] tbirdso opened #3008 "Handling `GetNameOfClass` for upcast instances"
## Motivation

ITK tests rely on the `ITK_EXERCISE_BASIC_OBJECT_METHODS` macro for unit testing individual classes, including checking that class and superclass names match expectations. Investigation in #3003 reveals that upcast instances returned from object factory instantiation may have inconsistent naming which may require more detailed test handling than existing macros allow.

## Details

F

[2021-12-28 21:30] dzenanz commented on #2884
@nicktasios can you check whether #3009 fixes this for you? What about #2416?

[2021-12-28 21:46] jhlegarreta commented on #3008
Not sure if the comment in https://github.com/InsightSoftwareConsortium/ITK/pull/2286#discussion_r575685116 stemmed also from the underlying reason here, and whether the cases in `itkPolygonGroupSpatialObjectXMLFileTest` reported in https://github.com/InsightSoftwareConsortium/ITK/pull/2286#issuecomment-778559383 are also related.

If they are, maybe applying the proposed fix in #3010 may be appro

[2021-12-28 21:51] N-Dekker commented on #3006
You might just use the `Vector(const ValueType & r)` constructor, which fills the entire vector by the specified element value as well:

    image->SetSpacing(ImageType::SpacingType(0.02));

[2021-12-29 14:48] dzenanz commented on #1569
@PranjalSahu was this fixed by some of your recent contributions?

[2021-12-29 14:55] dzenanz commented on #2202
Has this been done?

[2021-12-29 14:56] dzenanz commented on #2250
Apple M1 is now supported. This issue can be reopened, or a new one created in case of regressions.

[2021-12-29 14:56] #2250 closed

[2021-12-29 15:01] dzenanz commented on #2909
I guess we should do this for 5.3. Tom, is this on your radar?

[2021-12-29 15:09] PranjalSahu commented on #1569
So it was added in this commit [SyNImageRegistrationMethod](https://github.com/InsightSoftwareConsortium/ITK/commit/3e27a461246b484e80701d7be249596e1ebfdbc2#diff-95c50b0b0362c9edf644ba40c343e9064b9f037a512ed88a43c29aa6c11e57d4).

I added the support for Mesh for the ThinShellDemons in the recent [commit].(https://github.com/InsightSoftwareConsortium/ITK/commit/653ab122ea58953094f36c88dd618acb8acc3

[2021-12-29 15:10] tbirdso commented on #2909
Yes, actively investigating this one. `itk::ObjectFactoryBase` seems to make use of the global `SingletonIndex` which is already synchronized across ITK Python modules, I'm trying to pin down why this does not translate to synchronized factory lists.

[2021-12-29 15:13] #1569 closed

[2021-12-29 15:42] tbirdso commented on #2909
Note that it looks like [a66337ec](https://github.com/InsightSoftwareConsortium/ITK/commit/a66337ec215c88f4900a2caf419b055483c42085) was intended to address factory synchronization across Python modules, but in practice we are not currently seeing successful synchronization.

[2021-12-29 16:19] issakomi commented on #2959
Yes
[code]

The real problem that the logic is buggy. Even if the `TIFFReaderInternal::CanRead()` (s. above post) returns _false_ there are attempts to process the image `if (!m_InternalImage->CanRead())`, the logic path brings in particular case to completely wrong result (RGBA, uchar). The _TIFFTAG_EXTRASAMPLES_ tag (where alpha channel is defined) is not processed at all (on read), so RGBA imag

[2021-12-29 16:39] tbirdso commented on #2909
Some other investigation notes so far:

- `SingletonIndex::GetInstance()` returns the same address when called within / stepping through ITKCommon, ITKFFT, or ITKConvolution class constructors, which verifies that `SingletonIndex` synchronization in `<modulename>_ext.i` files with the Python C API is working as expected
- `GetPimplGlobalsPointer()` returns different addresses for `m_PimplGlobals`

[2021-12-29 16:52] Leengit commented on #2997
When I went to school they taught me that "its" is like other possessive pronouns (my, his, her, our, your, their) in that it has no apostrophe.  My retort 'What about "one's", "somebody's", "everyone's", "another's", etc?' fell on deaf ears.

[2021-12-29 17:21] blowekamp commented on #2959
There are a great number of options for TIFF file. ITK implemented a [generic function](https://github.com/InsightSoftwareConsortium/ITK/blob/6682f865b39fc0fa16e6483536e31ace8780f875/Modules/IO/TIFF/src/itkTIFFImageIO.cxx#L55) to read types and options commonly used with ITK.

If the TIFF features in the file are not supported by the ITK generic function that the TIFF library function [TIFFReadRGB

[2021-12-29 17:35] issakomi commented on #2959
I believe simple fix would be to throw in the `if (!m_InternalImage->CanRead())` [block](https://github.com/InsightSoftwareConsortium/ITK/blob/6682f865b39fc0fa16e6483536e31ace8780f875/Modules/IO/TIFF/src/itkTIFFImageIO.cxx#L489) if orientation is not supported. I didn't test, just guessing.
Proper fix would be, IMHO, get rid of _CanRead()_, cprocess TIFFTAG_EXTRASAMPLES to ensure proper alpha (not

[2021-12-29 19:28] issakomi commented on #2959
Interesting, with https://github.com/InsightSoftwareConsortium/ITK/pull/3013, if i use above program  with try/catch _ReadImageInformation_ and don't return on catch...
[code]
So the IO first read tags correctly and later overrides with "RGBA uchar", because it can not process orientation :)

[2021-12-29 19:36] issakomi commented on #2959
PR closed, i am out of the issue and will not spend a minute with it.

[2021-12-29 20:45] #2884 closed

[2021-12-29 21:30] dzenanz commented on #2875
@ozavalistyi can you check the fix in #3014?

[2021-12-30 06:53] issakomi commented on #2959
Looked at test files (failed tests):
There is the same problem, files with unsupported orientation are wrongly identified as _RBGA_, but they are _scalar_. Also according to Gimp they are all _scalar_. So my PR is _not_ wrong. The tests doesn't discover the problem. I think it doesn't make to re-open PR, the solution is too simple.

--------------------------------------------
**cthead_oriet_tl.ti

[2021-12-30 14:01] blowekamp commented on #2959
Hello @issakomi,

Thank you for your efforts on this issue.

It sounds like the expectations for behavior are different than what is implemented and may be consider it a bug OR it could be considered a new feature request.

The pixel information reported by TIFFImageIO is not the layout of the pixels is the file but the the layout of the itk::Image which is supported by the ImageIO to load the dat

[2021-12-30 18:16] thewtex commented on #3008
@tbirdso @jhlegarreta did #3010 address this?

[2021-12-30 18:20] jhlegarreta commented on #3008
Unfortunately, it didn't fully address the issue Matt. The observed behavior is weird/inconsistent: the fix works on Windows/MSVC, but it does not on Linux and macOS.

[2021-12-31 02:34] vfonov commented on #2202
yes: https://github.com/BIC-MNI/libminc/commit/ea8b6c311dac8c2e46aeffbaa6a363ed07aa0c56

[2021-12-31 16:24] tim-evain commented on #2872
@dzenanz Following the update of policy 91 from PR #2887, which doesn't solve this precise bug due to DCMTK using older cmake version, I've looked into their mechanism for flag setting.
It stems in the [dcmtkPrepare.cmake](https://github.com/InsightSoftwareConsortium/DCMTK/blob/20200214_DCMTK_PATCHES_FOR_ITK/CMake/dcmtkPrepare.cmake#L314) file with:
[code]
In the [CMakeList](https://github.com/Ins

[2021-12-31 18:39] dzenanz commented on #2872
My preference is to first update the version of [DCMTK used with ITK](https://github.com/InsightSoftwareConsortium/DCMTK). I made a new fork in place of the [old](https://github.com/InsightSoftwareConsortium/DCMTK) and pushed there the branches from the [old (technically non-fork)](https://github.com/InsightSoftwareConsortium/DCMTK-old).

Hopefully, it shouldn't be hard to reapply the patched on t

[2021-12-31 18:52] dzenanz commented on #2872
Sadly, reapplying [those patches](https://github.com/InsightSoftwareConsortium/DCMTK/commits/20200214_DCMTK_PATCHES_FOR_ITK) is not trivial due to conflicts. Luckily, it does not seem to be too hard either. Tim, you could take a crack at it.

[2022-01-02 20:33] PranjalSahu opened #3023 "Number of Connected Regions is wrong in ConnectedRegionsMeshFilter"
### Description

When using ConnectedRegionsMeshFilter with Extraction Mode Set To Largest Region
the number of connected regions obtained is wrong. On using the VTK's vtkPolyDataConnectivityFilter, we get result as 5.

### Steps to Reproduce

[code]

_VTK Code that works:_

[code]

### Expected behavior
Result should be 5.
<img src="https://user-images.githubusercontent.com/1044135/147888579-62bb

[2022-01-03 08:16] tim-evain commented on #2872
Yes, I can try to take a look at it.
Just to be sure of the course of action because I'm never sure with git, what we need here is to `git cherry-pick` the 5 patching latest commits from `20200214_DCMTK_PATCHES_FOR_ITK` branch into the master and resolve conflicts, is that correct?

[2022-01-03 15:23] dzenanz commented on #2872
That is the first part of it. I have already done that (sloppily) in [master branch of my fork](https://github.com/dzenanz/dcmtk/commits/master). That should be redone better. But also, each commit should be examined, and determined whether changes to it are necessary in light of other changes made to main repository since [2020-02-14](https://github.com/InsightSoftwareConsortium/DCMTK/commits/202

[2022-01-03 15:48] dzenanz commented on #2976
You are probably right. I have forgotten about that.

[2022-01-03 15:48] #2976 closed

[2022-01-03 17:56] tim-evain commented on #2872
Make sense, thanks @dzenanz . That requires some focus to dig in DCMTK, I'm not sure when I'll have a moment to do so. I'll report here if progress is made.

[2022-01-03 19:33] #2202 closed

[2022-01-03 20:31] blowekamp opened #3026 "NIFTI_SYSTEM_MATH_LIB set to NOTFOUND"
### Description

The following CMAKE error is encountered:
[code]

This error is occurring in the conda build environment for ITK and SimpleITK.

The work around it to set `NIFTI_SYSTEM_MATH_LIB` to an empty string in the configuration.

The "libm" library is not necessary or available on every platform. ITK and NIFTI should not require it.

In the Eigen3 library there is already improved logic to

[2022-01-04 16:37] thewtex opened #3028 "Add test for ImageSeriesReader with non-ASCII characters"
Add a test file and verify reading with UTF-8 characters with itk::ImageSeriesReader as a follow-up to #2847 .

[2022-01-04 18:40] seanm opened #3031 "itkStatisticsUniqueLabelMapFilterTest1 test fails under TSan (Thread Sanitizer)"
Two different threads (`T16` then `T10`) decide to write to the same pixel.  Perhaps they are writing the same colour, but that's still undefined behaviour.

Perhaps the bug is that they should be writing to different pixels?  Otherwise, it seems that some mutex or other synchronization would need to be added.

Full TSan output is:

[code]

[2022-01-04 18:56] blowekamp commented on #3031
That may be the long standing issue with that test/filter! Nice find!

[2022-01-04 19:02] seanm commented on #3031
There's a long-standing issue?  Is there another ticket to relate this one to?

[2022-01-04 19:22] blowekamp commented on #3031
It might have gotten resolved at some point, or the test stopped failing "randomly. There was an issue.... I'm unsure of the state to be honest. But there is mention of it in the code:
https://github.com/InsightSoftwareConsortium/ITK/blob/828453d1bf61c487310d2d8c9570093e08798a40/Modules/Filtering/LabelMap/test/itkStatisticsUniqueLabelMapFilterTest1.cxx#L139

https://github.com/InsightSoftwareConso

[2022-01-04 19:35] seanm opened #3032 "itkLevelSetEquationTermContainer mutates std::map from multiple threads with no synchronization"
The `itkSingleLevelSetsv4DenseImage2DTest` (and others) fail under TSan because an `std::map` is mutated from several threads at once.

This line [here](https://github.com/InsightSoftwareConsortium/ITK/blob/70351d1fe4832a10186dc19b78e131e0ae8d0995/Modules/Segmentation/LevelSetsv4/include/itkLevelSetEquationTermContainer.hxx#L301):

[code]

is run by several threads simultaneously and `cfl_it->seco

[2022-01-04 19:44] blowekamp commented on #3032
Another possible solution would be to use an atomic operation such as [`compare_exchange_weak`](https://en.cppreference.com/w/cpp/atomic/atomic/compare_exchange).

[2022-01-04 19:56] tbirdso opened #3033 "Add `itkFFTDiscreteGaussianImageFilter`"
### Description

As we expand object factory methods for overriding FFT backends we can leverage accelerated FFTs for image processing. Image convolution with a Gaussian kernel can be accelerated for large images as multiplication in the frequency domain.

API details: Same as `itkDiscreteGaussianImageFilter`

Class hierarchy: Extends `itkFFTConvolutionImageFilter`

Internal implementation:
1. Con

[2022-01-04 19:56] tbirdso commented on #3033
@thewtex

[2022-01-04 20:21] thewtex commented on #3033
@tbirdso excellent!

In addition, we can:

- Name the filter `itk::FFTDiscreteGaussianImageFilter`
- Generate the kernel with the [itk::GaussianImageSource](https://github.com/InsightSoftwareConsortium/ITK/blob/0539a2c4ddd2b189d1e48eaf5294ce5556efe732/Modules/Filtering/ImageSources/include/itkGaussianImageSource.h)
- Generate the kernel directly in FFT-space

[2022-01-04 20:45] dzenanz commented on #3031
Most recent nightly failure: https://open.cdash.org/test/552477773. I think there was a continuous build failure just a few days ago (I am too lazy to search for it).

[2022-01-04 21:27] tbirdso commented on #2909
Still actively investigating this one. I originally was having trouble figuring out why `SingletonIndex->m_GlobalObjects` was stored at different addresses, but after stepping through with Visual Studio as well as GDB my current hypothesis is that `SingletonIndex` instances are initialized for each module _before_ synchronization with ITKCommon -- that is, each module still has a fully initialized

[2022-01-05 00:38] seanm commented on #3032
Great idea, thanks!  See my attempt...

[2022-01-05 01:55] jhlegarreta commented on #3031
Great @seanm !

The test has been failing on and off, e.g. latest failure on the `master` Azure Pipelines Windows build:
https://open.cdash.org/test/579122229

[2022-01-05 15:49] seanm opened #3037 "itkTestTransformGetInverse test fails under TSan"
According to bc1bcae24435fd76c430180e709a50e920eba6f4, `itkTestTransformGetInverse` was added to demonstrate a threading bug.

Seems it was never fixed though?

The test looks to me to be deliberately using `GetInverse` on a transform shared between threads.

The root of the weridness, to me, comes from [here](https://github.com/InsightSoftwareConsortium/ITK/blob/9da82ba3016b360f593f69699a92b3c19a

[2022-01-05 19:58] #2997 closed

[2022-01-05 22:41] wyli opened #3044 "itk python `GetImageFromArray` should be invariant to the numpy memory layout changes?"
### Description
`GetImageFromArray` checks the `C/F_CONTIGUOUS` flags for the channel dimension, but the spatial dimensions are always assumed C-indexing, this is somewhat inconsistent.

[code]

### Expected behavior

`itk_c.shape == itk_f.shape`, because for the underlying numpy array, we have
[code]

### Actual behavior

the outputs of the script are
[code]

### Versions
the example is evaluated

[2022-01-06 00:14] #3023 closed

[2022-01-06 02:36] seanm opened #3045 "Update eigen to 3.4"
From the [look of the branch name](https://github.com/InsightSoftwareConsortium/ITK/blob/51dc8fee7da4e1a52d0190327316da512aac84f0/Modules/ThirdParty/Eigen3/UpdateFromUpstream.sh#L7), ITK master currently uses eigen 3.3.x.

3.4 was [released](https://eigen.tuxfamily.org/index.php?title=3.4) a few months ago.

In order to eventually fix all the [-Wreserved-id-macro warnings](https://open.cdash.org/v

[2022-01-06 09:58] nicktasios commented on #2884
Unfortunately I'm having trouble trying to build the python package from source. I followed the instructions and created a new python env, cloned ITKPythonPackage and also ITK, then started the build with:
[code]
but I got the following error:
[code]

[2022-01-06 14:03] tbirdso commented on #3008
#3022 provides a temporary fix in `ITK_EXERCISE_BASIC_OBJECT_METHODS` removing the `strcmp` so that tests compiled with GCC do not fail here, however this is not sufficient to close this issue. The problem remains as to how `object->Self` and `object->Superclass` must be written so that GCC successfully references the base and parent classes. @Leengit offered good suggestions in #3022 in regards t

[2022-01-06 14:19] thewtex commented on #3045
CC @phcerdan

[2022-01-06 14:22] dzenanz commented on #2884
I guess we now require TBB for building binary packages. Can you try [latest stable](https://github.com/oneapi-src/oneTBB/releases)?

[2022-01-06 14:38] nicktasios commented on #2884
So I saw that the by default the build script uses the nightly-master branch so I instead tried building without specifying the ITK source. Unfortunately, after hours of building I got the following, not very informative error:
[code]

[2022-01-06 14:51] dzenanz opened #3048 "FFT Python wrappings don't compile"
### Description

I get errors when building Python wrapping:
[code]

### Steps to Reproduce

Incremental compile after updating local ITK repository.

### Expected behavior

Build completes with no errors.

### Actual behavior

Builds error above.

### Reproducibility

100%

### Versions

Recent master, e.g. c46354736b0723ae4a7c66b03b6203c643754659.

### Environment

Windows 10, VS2019.

### Addit

[2022-01-06 14:57] dzenanz commented on #2884
I created an issue #3048 to track this. If @tbirdso does not get to it soon, I will.

[2022-01-06 15:01] thewtex commented on #3048
[code]

We need to update the `ITKUltrasound` remote to 5.3rc3

[2022-01-06 15:30] tbirdso commented on #3048
A few initial thoughts here:
- As discussed in [https://github.com/KitwareMedical/ITKUltrasound/pull/161](https://github.com/KitwareMedical/ITKUltrasound/pull/161), echoing what @thewtex said, 1DFFT classes are still present in ITKUltrasound and will not be removed until ITK v5.3rc3 is released, because they were moved to ITK proper after the v5.3rc2 release and are not yet available in the ITK Py

[2022-01-06 15:47] tbirdso commented on #2884
Thanks for your work here @nicktasios and @dzenanz . I've added some initial discussion on this issue in #3048. @nicktasios, I'm wondering if you have a way of confirming whether the CMake variables `ITK_WRAP_DOUBLE` and `ITK_WRAP_COMPLEX_DOUBLE` are both dis/enabled? You could try building with both explicitly turned off (or on):

[code]

Several filters in the `ITKFFT` module require both real a

[2022-01-06 15:48] tbirdso commented on #3048
Regardless of whether my suggestion in #2884 is the correct fix, we should certainly be checking whether `complex` types are available in wrapping before trying to wrap relevant FFT classes. Will put in a fix shortly.

[2022-01-06 16:01] dzenanz commented on #3048
This is present in my source tree. I was not sure whether this template default would propagate to derived classes.

No variant of `double` is enabled for wrapping in the build in question. I see 4 options total: plain, complex, vector and covariant vector.

[2022-01-06 16:02] dzenanz commented on #2884
Both are disabled. I also commented in the issue.

[2022-01-06 16:04] nicktasios commented on #2884
@tbirdso I will check tomorrow. By the way, if I pass '-j N' to the build command, above, will that enable multithreaded building? I have to say it's quite a slow process at the moment.

[2022-01-06 16:26] tbirdso commented on #3048
Okay, thanks for checking. Is the Ultrasound remote module enabled in your build? Given that the second template argument was made optional only after moving 1D FFT classes into ITK proper, perhaps the lingering, original structure from ITKUltrasound is being picked up?

🤔 I'm not sure how to trace this issue, as [`itkForward1DFFTImageFilter.wrap`](https://github.com/InsightSoftwareConsortium/ITK/

[2022-01-06 16:37] dzenanz commented on #3048
`double` is wrapped by default in PythonPackage repository, but not in vanilla ITK. Whoever tries to build Python wrappings from source just by enabling `ITK_WRAP_PYTHON` might run into the issue.

Oops, I had `Module_Ultrasound` enabled. I will try building incrementally without it.

[2022-01-06 16:55] tbirdso commented on #3048
No problem, and sounds good. My hope is that this will resolve your issue, let me know if you are still seeing the error once it builds.

💯  Thanks for the find @dzenanz , [`ITKPythonPackage/CMakeLists.txt`](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/blob/master/CMakeLists.txt#L273) turns on several default values including `ITK_WRAP_DOUBLE` but not `ITK_WRAP_COMPLEX_DOUBLE`, wh

[2022-01-06 17:21] blowekamp opened #3050 "If no FFT filters are registered, then nullptr is returned from `New` causing segmentation faults."
The FFTFilters' New method may return a nullptr if the FFT factory is empty. This causes segmentation faults. It is not standard practice in C++ and ITK to check if a new fails to return an object.

An exception should be thrown if an object can not be allocated and constructed.

[2022-01-06 17:23] blowekamp commented on #3050
@dzenanz @tbirdso

[2022-01-06 17:45] blowekamp opened #3051 "Is there an ITK "component" or "module" to use all FFT libraries?"
From [ITKConfig.cmake](https://github.com/InsightSoftwareConsortium/ITK/blob/master/CMake/ITKConfig.cmake.in#L11-L15) to aid in libraries using all ImageIOs and TransfromIOs there are the "ITKImageIO" and ITKTransformIO" CMake components. Is there are similar one for the FFT modules to enable usage in factories?

Currently SimpleITK uses these components to ensure all Transform and ImageIO factori

[2022-01-06 17:45] blowekamp commented on #3051
@dzenanz @tbirdso

[2022-01-06 17:46] tbirdso commented on #3050
I think this is reasonable and would certainly help with debugging. @dzenanz could you assign this one to me?

[2022-01-06 17:52] tbirdso commented on #3051
Yes, FFT factories are contained in the `ITKFFT` module

[2022-01-06 18:28] tbirdso commented on #2909
After spending a decent amount of time debugging I have a few more thoughts on what is happening under the hood and a potential resolution. At runtime when we import ITK Python modules (either lazily or with `itk.force_load()`), the following steps occur:

- First modules such as `ITKCommon` are loaded. `ITKCommon` does not define any factories, so its object factory structures (a `ObjectFactoryBa

[2022-01-06 19:17] dzenanz commented on #3048
An incremental build succeeded with `Module_Ultrasound` disabled.

The changes you propose sound good.

[2022-01-06 19:17] #3048 closed

[2022-01-06 19:32] tbirdso commented on #2884
@nicktasios With @dzenanz 's help we've submitted [ITKPythonPackage PR 184](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/pull/184) to fix the issue for now -- thank you for helping improve ITK 😄

I believe anything after the `--` will be passed as a CMake argument (relevant line in the ITKPythonPackage script is [here](https://github.com/InsightSoftwareConsortium/ITKPythonPackage/

[2022-01-06 19:54] dzenanz commented on #2884
[`ninja`](https://ninja-build.org/) uses parallelism by default, and is the preferred build system for most people.

[2022-01-06 21:33] tbirdso commented on #2909
I'm inclined to believe that the core of this issue lies in planned but possibly unimplemented functionality. [a66337e](https://github.com/InsightSoftwareConsortium/ITK/commit/a66337ec215c88f4900a2caf419b055483c42085) claims to implement module synchronization:

This is implemented as a requirement that each singleton map member is added with a synchronization function and a destructor function in

[2022-01-07 02:50] liupeiqiHN opened #3056 "Header file conflict: itkAdaptiveHistogramEqualizationImageFilter and itkBinaryFillholeImageFilter"
### Description

itkAdaptiveHistogramEqualizationImageFilter.h is conflict with itkBinaryFillholeImageFilter.h, I can't use it together. But if I changed ITK5.3.0 to ITK5.2.0, they work fine.
I don't know if there are any other header files that have this issue.

### Environment

win11, vs2022, itk5.3.0

### Code

[code]

### MSVC compile message

[code]

[2022-01-07 13:20] blowekamp commented on #3051
So the "ITKImageIO" and "ITKTransformIO" are meta modules in that they are not actual ITK modules. They were created as a convenience to use all the modules that create an item for a factory type. This was done in 4281aeed92584fb0233b228acb3cf81c4ea51f5b.

The Specific cmake code is here:
https://github.com/InsightSoftwareConsortium/ITK/blob/87fe0a13a9d7b06eefba3950e662c0949786a183/CMake/ITKModule

[2022-01-07 14:06] tbirdso opened #3057 "`PythonFFTImageFilterTest` failing in Windows CI"
### Description

Windows CI is failing after #3002 due to issue in FFT test

[CDash results](https://open.cdash.org/test/582543193)

### Steps to Reproduce

[Windows CI on Azure](https://dev.azure.com/itkrobotwindowpython/ITK.Windows.Python/_build/results?buildId=2786&view=results)

### Expected behavior

`ComplexToRealImageFilter` is available and all CI passes

### Actual behavior

[code]

### R

[2022-01-07 15:10] dzenanz commented on #3056
Which exact sha1 hash are you using? 5.3.0 has not been released yet, you might mean RC2 or RC1? I could not reproduce this with a recent master.

[2022-01-07 18:19] seanm commented on #3045
Anyone know if ITK's eigen has any customizations/modifications or is it unadulterated?

[2022-01-07 18:27] tbirdso commented on #3057
Haven't been able to recreate on my Windows setup after rebuilding against `master`. ` PythonFFTImageFilterTest` passes, I can instantiate `itk.ComplexToRealImageFilter` just fine, and [`itkComplexToRealImageFilter.wrap`](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Filtering/ImageIntensity/wrapping/itkComplexToRealImageFilter.wrap) has not been touched in years.

It would

[2022-01-07 18:28] phcerdan commented on #3045
@seanm Their top CMakeLists.txt is the only thing altered from upstream. A lot of things (tests, etc) are just commented out.
I can find some time next week to update eigen, as I have done it a couple of times already. But if you want to give it a go ping, please ping me.

[2022-01-07 18:42] seanm commented on #3045
You'll probably be able to do it 10x faster than me :)

[2022-01-07 18:42] dzenanz commented on #2875
@ozavalistyi can you check the fix in #3052?

[2022-01-07 18:46] seanm commented on #3037
168f84f1ac3e209cc46d1c9b07a896fc895cdd8a looks to be related. So @thewtex maybe you have some idea for this one?

[2022-01-07 19:23] dzenanz commented on #3057
Let's wait for nightly builds and see whether my computer also chokes on it. If so, I could try to fix it.

Oops, we don't have a nightly Windows Python build. Rebasing would probably require a massive rebuild. I could do that overnight.

[2022-01-07 20:25] phcerdan commented on #3045
Yeah, it's a bit convoluted. I will try to clean it up for easier maintenance in the future. I followed the way VTK handled their internal dependencies at the time.

[2022-01-07 21:32] tbirdso commented on #3057
Thank you! I'll give it another pass as well and see if I can spot anything.

[2022-01-08 07:19] #3056 closed

[2022-01-08 15:20] jhlegarreta opened #3069 "Remove whitespaces before scope resolution operators"
### Description

A few places are found across ITK having a whitespace before the scope resolution operator separating a class name and a method.

### Expected coding style

No whitespace should exist before the scope resolution operator separating the class name and the method, i.e.
[code]

### Actual coding style

Currently, whitespaces are found in a few places, e.g.
[code]

### Versions

`mast

[2022-01-08 15:33] jhlegarreta opened #3070 "Optimizer classes should not print non-self member variables"
### Description

Some optimizer(v4) classes are printing non-self member variables in their `PrintSelf` methods.

### Expected coding style

Classes should only print self member variables in their `PrintSelf` methods. They should rely on their superclass and any other member variable `PrintSelf` method implementations to reveal their state at a given execution point.

### Actual coding style

Cla

[2022-01-10 10:20] tillea opened #3072 "Please use UTC timestamp in CMake to enable reproducibility"
### Description

As per [Debian bug report](https://bugs.debian.org/1003319) ITK does not build reproducible.

### Expected coding style

This [patch](https://salsa.debian.org/med-team/insighttoolkit/-/blob/master/debian/patches/0003-Modules-Core-Common-src-CMakeLists.txt-Use-UTC-times.patch) against version `5.2.1` fixes the issue.

### Additional Information
No idea whether "Coding Style Inconsi

[2022-01-10 13:35] tbirdso commented on #2950
[ITKMontage CDash results](https://open.cdash.org/build/7668042) show that default factory registration in ITKTestKernel has resolved test failures. Closing this issue.

cc @dzenanz

[2022-01-10 13:35] #2950 closed

[2022-01-10 14:40] tbirdso commented on #3057
@dzenanz Checking back in, did you have a chance to try rebuilding the `main` branch on your local Windows machine? I'm still having difficulty recreating this issue.

[2022-01-10 14:54] dzenanz commented on #3057
I cannot reproduce it:
[code]
I did not build tests, so the baseline image is not downloaded. Hence the failure at the comparison stage.

[2022-01-10 18:24] #2875 closed

[2022-01-10 22:07] tbirdso commented on #3057
Some notes from additional investigation:
- #3002 adds ITKFFT as a dependency for ITKTestKernel
- ITKTestKernel is enabled and built as a dependency for ITKCommon
- [Windows Python testing](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Testing/ContinuousIntegration/AzurePipelinesWindowsPython.yml) restricts the modules that are built to the ITKCommon group + ITKBridgeNumPy + all dep

[2022-01-10 23:03] #3072 closed

[2022-01-11 01:14] thewtex commented on #3037
@seanm taking a look, it seems we should be calling:

[code]

in:

[code]

but that may not be the source of this warning.

Thanks for looking into these static analysis issues.

[2022-01-11 02:22] seanm commented on #3037
Sorry, where is that code?  I don't seem able to find it in master...

PS: TSan is not static analysis, it's a runtime checker.

[2022-01-11 15:03] dzenanz commented on #3037
Here it is: https://github.com/InsightSoftwareConsortium/ITK/blob/6a1575d68cea6d94a946533c79f42a8ab6aa3f5b/Modules/Core/Transform/include/itkMatrixOffsetTransformBase.hxx#L41-L51

[2022-01-11 15:35] tbirdso opened #3078 "Expose FFT override dimensions in `itk::FFTImageFilterFactory`"
### Description

Following up from #3065, `itk::FFTImageFilterFactory` should be updated to allow a developer to specify a list of image dimensions that the user is allowed to input for override.

For instance, `VnlForwardFFTImageFilter` is the default forward FFT implementation in ITK and should override typical `itk::Image` dimensions 1 through 4. Meanwhile, in the ITKVkFFTBackend external modul

[2022-01-11 15:36] tbirdso commented on #3078
I'm entering this issue to capture follow-up discussion from #3065.

@dzenanz Could this please be assigned to me?

cc @blowekamp @N-Dekker

[2022-01-11 15:44] seanm commented on #3037
Ah, quite different!  I'll try adding those 2 lines...

[2022-01-11 16:01] #3057 closed

[2022-01-11 16:11] tbirdso opened #3080 "`itkConnectedRegionsMeshFilterPythonTest` is failing in Windows CI"
### Description

`itkConnectedRegionsMeshFilterPythonTest` is failing in [recent Windows Python CI results](https://open.cdash.org/viewTest.php?onlyfailed&buildid=7672621).

Seems to have started after the recent commit [4bf1434](https://github.com/InsightSoftwareConsortium/ITK/commit/4bf1434852743edb885efa9f1e6237c7a703b555) added the test.

### Steps to Reproduce

1. Build ITK Python wrapping wi

[2022-01-11 16:16] tbirdso commented on #3080
@dzenanz @thewtex Would be interested in your thoughts here. Is it expected that CI should pick up and wrap modules required for testing in Python CI? We do explicitly turn off tests with `DISABLE_MODULE_TESTS:BOOL=ON` in Windows Python CI, so maybe this is an expected behavior and we need to be more careful or document this update as a requirement of adding Python tests?

@PranjalSahu Would you b

[2022-01-11 16:38] dzenanz commented on #3080
We could try removing `DISABLE_MODULE_TESTS:BOOL=ON`, but I guess that was added there to prevent exceeding time limit.

Maybe we could reorganize the pipelines, to first build C++ with tests and run those tests, then have the second pipeline which builds python and runs python tests. This might be possible now and might not have been possible a few years ago when we switched from Jenkins to Azure

[2022-01-11 18:44] seanm commented on #3037
@thewtex so I added those 2 lines at the end of that function, but alas it does not fix the TSan error.

[2022-01-11 23:33] melrobin opened #3084 "itkConceptChecking.h build problem"
The build from development sources fails with the following error:
[ 94%] Generating ../../itkCannyEdgeDetectionRecursiveGaussianImageFilter.xml
In file included from /home/melrobin/packages/ITK/build/Wrapping/itkCannyEdgeDetectionRecursiveGaussianImageFilter.cxx:2:
In file included from /home/melrobin/packages/ITK/Modules/Core/Common/include/itkOffset.h:22:
In file included from /home/melrobin/pa

[2022-01-12 14:49] Leengit opened #3088 "PERF: Use binary search for threshold in ThresholdLabelerImageFilter"
### Description
Instead of searching linearly through the array of thresholds
https://github.com/InsightSoftwareConsortium/ITK/blob/6a1575d68cea6d94a946533c79f42a8ab6aa3f5b/Modules/Filtering/Thresholding/include/itkThresholdLabelerImageFilter.h#L83-L99
we can get substantial performance improvements (when the number of thresholds is non-trivial) by using a binary search.

### Impact analysis
O(log

[2022-01-12 17:57] tbirdso commented on #2233
Proposing that we bump this to a later milestone than ITK 5.3. This issue has merit but depends on factory synchronization in #2909 / #3071 which is not yet merged. Will require nontrivial changes to Python module loading and dependency checks, including new field(s) in `igenerator.py`.

Ideally if ITK remote modules register factories to the base object factory list on load, then a workaround for

[2022-01-12 18:24] #3045 closed

[2022-01-12 19:07] phcerdan commented on #1469
Closed in #1470

[2022-01-12 19:07] #1469 closed

[2022-01-13 04:00] #2909 closed

[2022-01-13 04:09] #3088 closed

[2022-01-13 23:59] thewtex commented on #3078
This could be achieved with compile-time iteration over integers in a template parameter pack:

https://devtut.github.io/cpp/metaprogramming.html#iterating-over-a-parameter-pack

it gets nicer with C++17 but could still be done with C++14.

It would be best to enable setting this as a build configuration option in CMake with a variable, then use it in the project via *itkConfigure.h.in*. It should

[2022-01-14 00:04] thewtex commented on #3080
@PranjalSahu could you please follow-up on this issue?

After 5.3.0 is out, I plan to look into C++ modules, which should help with our build times. Ideally, we will be able to enable the entire Windows build, but we will have to see.

[2022-01-14 00:10] thewtex opened #3093 "C++ module support for internal builds"
Enable C++ module builds for ITK module builds and ITK wrapping builds. This will only be available for compilers that support it (recent compilers), but it can potentially significantly reduce development build times (building the tests suite) and the Python wrapping. Extended support will likely required better C++ module support in CMake and would be a future effort.

[2022-01-14 00:11] thewtex commented on #3037
@seanm could that fix please be submitted? It may not be the TSan error, but I think it is still a bug.

[2022-01-14 01:25] PranjalSahu commented on #3080
Yes, I can check how to cascade the test pipeline as @dzenanz  mentioned.

[2022-01-14 12:57] tbirdso commented on #3080
@dzenanz @thewtex Note that CI is now green after @PranjalSahu's successful patch in #3081, should larger-scale Azure pipeline changes be tracked in a separate issue?

[2022-01-14 15:40] dzenanz commented on #3080
Matt added #3093 to track it.

[2022-01-14 15:40] #3080 closed

[2022-01-14 17:27] #3050 closed

[2022-01-14 17:33] thewtex commented on #3051
For now, all the FFT implementations are in the `ITKFFT` module. There is also the VkFFT work in progress, but that would be a remote module. For ITK 6, we could split `ITKFFT` into base classes in `ITKFFT` and separate modules for the Vnl and FFTW implementations. Then the meta module could be used for all FFT modules.

[2022-01-14 18:01] phcerdan opened #3097 "Request: Add build compiling with `C++20` to GitHub actions."
CDash has builds with C++17 enabled, but they are not triggered when github builds opened PR's.

It would be great to have at least one build (gcc or clang) in github wih C++17.

[2022-01-14 19:11] thewtex commented on #3044
@wyli thanks for the report. Addressed in #3098 , but note that the change only applies with `itk.GetImageViewFromArray`. `itk.GetImageFromArray` creates a new array that is necessarily C-order.

[2022-01-14 19:54] tbirdso commented on #3033
@thewtex I've started working on this but I'm having misgivings about the class hierarchy.

We want to _extend_ `itk::FFTConvolutionImageFilter` to _implement_ the interface described by `itk::DiscreteGaussianImageFilter`. It would be nice if we could make `itk::FFTDiscreteGaussianImageFilter` a subclass of `itk::DiscreteGaussianImageFilter` to allow the potential for overriding internal calls wit

[2022-01-14 20:10] dzenanz commented on #3033
If I remember correctly, ITK style prevents diamond inheritance. See the case of `ScanlineFilterCommon` as added in d9e6b51fb9b2ccd4df06579c2ed7bb7487e80567 and then used again in 432bd9774a0585d5d59f3142010135d0e8712639. Its Python wrapping was added in b80388532824e3e99c934c05075f9eca9638d3f7. It is hard to get it right when you are fighting against the usual patterns.

[2022-01-14 20:39] dzenanz commented on #3097
In #2900, a new build was added: `LinuxLegacyRemoved`. This is being run in our `itkrobot.linux` Azure account (there are different accounts due to CI execution time limit). A similar thing could be done for MacOS platform, but instead of disabling legacy, enable C++17. Just copy-paste the existing job and add C++17 compiler flags where appropriate. The effort will mostly consist of testing, makin

[2022-01-14 22:18] brad-t-moore opened #3099 "Wrap the rest of Registrationv4 methods"
I'd like access to more Registrationv4 methods in Python.  Is there any reason not to wrap any of the classes in the v4 directories (i.e. the ones that haven't been wrapped yet)?  My gut exclusion criteria is anything that is only internally used by other registration classes, i.e., `itk::WindowConvergenceMonitoringFunction`.

If this is a good idea as a PR, my other questions are:

1. It seems th

[2022-01-14 22:45] tbirdso commented on #3033
Thanks @dzenanz, from those commits the demands of multiple inheritance definitely seem a bit intimidating in this context.

Perhaps a better design would be to implement `FFTDiscreteGaussianImageFilter` as a subclass of `DiscreteGaussianImageFilter` which redefines the `GenerateData` method to rely on a minipipeline making use of an `FFTConvolutionImageFilter`? This would avoid multiple inheritan

[2022-01-15 01:49] thewtex commented on #3033
@tbirdso I think I see what you are saying, and the *factory is strong* :astronaut: :alien: , but, yes, jus simple single inheritance, no factory, provides a good trade-off of complexity, code re-use, and how the code is used. @dzenanz is right -- we should avoid multiple inheritance.

@tbirdso :+1: yes that's it!

[2022-01-15 01:55] thewtex commented on #3099
@brad-t-moore yes, more Registrationv4 methods were wrapped in the last few months, an we should wrap more, moore. :-)

Re 1.: Some classes are wrapped along other classes because their are dependent classes for the class wrapped in the .wrap file. However, they could be broken out into their own .wrap file. Starting fresh, the preference is to add wrapping to a class' self-name .wrap file.

Re 2.

[2022-01-15 01:57] #3044 closed

[2022-01-16 12:57] Eric-JH opened #3111 "include error"
### Description
once I include itkImageSeriesReader.h、itkImageSeriesWriter、itksys/SystemTools.hxx， there would be errors.
But the quotes of itkImage.h, itkGDCMImageIO.h and itkGDCMSeriesFileNames.h are normal and make no error.

### Steps to Reproduce
C++

#include \<iostream>
#include <opencv2/core/core.hpp>
#include <opencv2/highgui/highgui.hpp>
#include <itkImage.h>
#include <itkGDCMImageIO.h>

[2022-01-16 16:31] #3032 closed

[2022-01-16 16:38] thewtex commented on #3111
Please try the latest tag of ITK and include a reproducible CMakeLists.txt and code.

[2022-01-16 22:33] thewtex commented on #3084
@melrobin I ran into CastXML build errors with GCC 11.2.0, which are addressed with:

  https://github.com/InsightSoftwareConsortium/ITK/pull/3112

However, I did not run into this error. Are there any non-default CMake configuration options?

[2022-01-16 23:37] thewtex opened #3113 "Mark third party CMake variables as advanced"
We currently have a number of CMake variables related to 3rd party libraries polluting ITK's default CMake variable configuration options, which should be minimal. These should be marked as advanced with CMake's `mark_as_advanced` command in the ITK module CMake code. Variables include *EXPAT_** *NIFTI* and more.

[2022-01-17 10:57] wyli commented on #3044
thank you @thewtex!

[2022-01-17 15:29] dzenanz commented on #3111
Is inclusion of OpenCV headers necessary to reproduce?

[2022-01-17 16:08] brad-t-moore commented on #3099
So, one thing.  I'm noticing that in the cases of cross-wrapping, or when a template needs to be instantiated for a non-base type (e.g. instantiating `RegistrationParameterScalesFromPhysicalShift` with all the types of `EuclideanDistancePointSetToPointSetMetricv4`), things get a little complex.  For example, this is currently in itkEuclideanDistancePointSetToPointSetMetricv4.wrap:

[code]
So that

[2022-01-17 16:17] brad-t-moore commented on #3099
To clarify, something like:
[code]

[2022-01-17 16:29] Eric-JH commented on #3111
Nope.

[2022-01-17 19:40] hjmjohnson opened #3117 "CMake warnings for SphinxExamples"
### Description

CMAKE Warning
[code]
### Expected coding style

Sphinx Examples should use current coding conventions.

### Actual coding style

CMake warnings are issued.

### Versions

Master branch if ITK 2022-01-17  with SphinxExamples

[2022-01-17 19:46] dzenanz commented on #3117
@blowekamp and @tbirdso last touched that 😄

[2022-01-17 20:53] brad-t-moore commented on #3099
Also, `itk::PointSetToPointSetMetricv4` and `itk::PointSetToPointSetMetricWithIndexv4` are mangled to just "PS" instead of "PSTPSM".  I think this may be a bug?

[2022-01-17 20:57] dzenanz commented on #3099
@PranjalSahu might have a comment about that, as he recently used PointSet in wrapping.

[2022-01-17 22:10] PranjalSahu commented on #3099
I think it was done to reduce complexity in the naming. In the default setting it will be <PointSet, PointSet> so they probably chose to only use PS.  We can change it now (or later if other combinations occur).

There might be other places where the naming convention is not followed strictly.
For ex. in [itkLabeledPointSetToPointSetMetricv4.wrap](https://github.com/InsightSoftwareConsortium/ITK/b

[2022-01-18 00:33] brad-t-moore commented on #3099
Interesting, lemme see if there is a way to export some of these manglings so we can get a consensus.  I'm building/testing right now, but I think I have got everything remaining in Metricv4, Optimizersv4, Registrationv4.

[2022-01-18 00:38] brad-t-moore commented on #3099
@thewtex That confusing sample code will make a bit more sense once you see what I had to do (think I have to do) to get the registration parameter scale estimators properly instantiated.  But I'm inkling to get this wrapped up and make that it's own separate issue.

[2022-01-18 06:22] zhusihan-python opened #3124 "build itk master branch with ITK_WRAP_rgb_unsigned_short=ON didn't get RGBUS in python wraps itk/support/types.py"
### Description

build itk master branch with cmake, configure ITK_WRAP_rgb_unsigned_short=ON didn't get RGBUS in python wraps itk/support/types.py, it raise "module 'itk' has no attribute 'RGBUS'" error
during configure stage if you add a message("blah") inside this if: https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc03/Wrapping/WrapBasicTypes.cmake#L119-L121
it step into the if branc

[2022-01-18 13:26] melrobin commented on #3084
I blew the build directory away and the build works.  I am adding modules one by one to try to track down where the problem could be.

[2022-01-18 15:56] dzenanz commented on #3124
@Leengit can you look into this?

[2022-01-18 17:31] brad-t-moore commented on #3099
This might be obvious, but also noticed `itk::RegistrationParameterScalesFromIndexShift` can't be used with any of the PointSet-based metrics as it requires a FixedImageType to be defined in the TMetric.

[2022-01-18 22:03] brad-t-moore commented on #3099
OK, as is, `itk::OnePlusOneEvolutionaryOptimizerv4` can't be instantiated with any metric that uses a float as its internal computation type.  Because of the following call to `m_Metric->GetParameters()`.  If the metric is instantiated with a float that line fails with a type conversion error.  Doesn't seem like as is this class is using the TInternalComputationType template parameter as it should

[2022-01-18 22:08] brad-t-moore commented on #3099
Thanks for the link.  Yes, I can confirm that RegistrationParameterScalesFromPhysicalShift works.  As is, the Index version requires a parameters that the PointSet-based metrics don't have.

[2022-01-19 05:15] Eric-JH commented on #3111
I found the problem was caused by my unproper targer_link_directories in CMakeLists.txt.
[CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITK/files/7894220/CMakeLists.txt)
And I used vcpkg to manage the inclusion.
By the way, I used the example in [The ITK Software Guide](https://itk.org/ItkSoftwareGuide.pdf)
[CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITK/files/7894

[2022-01-19 12:56] issakomi commented on #2959
I have found another tiff [file](https://data.kitware.com/api/v1/item/61e807094acac99f426e6e32/download) that doesn't work well with the IO. Gimp and other can open the file better. I guess it is scalar image, but it has "extra samples" (i didn't look closer at the image).
Just in case if somebody will work on the IO later.

Wrong
![bug1](https://user-images.githubusercontent.com/1494580/150134186

[2022-01-19 13:23] melrobin commented on #3084
Narrowed it down.  The error occurs when adding the LesionSizingToolkit

[2022-01-19 13:28] thewtex commented on #3099
Some optimizers only support double.

[2022-01-19 13:29] thewtex commented on #3111
`${ITK_LIBRARIES}` provides the libraries found.

[2022-01-19 13:37] thewtex commented on #3124
This:

[code]

should be:

[code]

[2022-01-19 14:59] zhusihan-python commented on #3124
ide get a hint Cannot find reference 'RGBPixel' in '__init__.py'
when i run
[code]
got exception
[code]

to get image = itk.imread(filename, itk.RGBPixel[itk.US]) work, should i set ITK_WRAP_IMAGE_DIMS=2,3,4,5 and rebuid itk?

[2022-01-19 15:04] dzenanz commented on #3124
Is there a complete list of wrapped types in that exception message? Can you copy-paste it here?

[2022-01-19 15:21] zhusihan-python commented on #3124
Supported input types:

itk.RGBPixel[itk.UC]
itk.RGBAPixel[itk.UC]
itk.Vector[itk.F,2]
itk.Vector[itk.F,3]
itk.Vector[itk.F,4]
itk.CovariantVector[itk.F,2]
itk.CovariantVector[itk.F,3]
itk.CovariantVector[itk.F,4]
itk.SS
itk.UC
itk.US
itk.F
itk.D
itk.complex[itk.D]
itk.complex[itk.F]
itk.Vector[itk.D,2]
itk.Vector[itk.D,3]
itk.Vector[itk.D,4]
itk.SI
itk.UI
itk.UL
itk.ULL
itk.B
itk.FixedArray[itk.F

[2022-01-19 15:30] zhusihan-python commented on #3124
sor the logs post above is the itk installed by pip, i activated a wrong conda env, this is the local itk exception
[code]

[2022-01-19 15:39] dzenanz commented on #3124
Maybe `ITK_WRAP_VECTOR_COMPONENTS` needs to include 1?

[2022-01-19 16:20] Eric-JH commented on #3111
But I tried the follewed CMakeLists and error was reported. The error info was the same "CMake Error at D:/vcpkg/scripts/buildsystems/vcpkg.cmake:540 (_add_executable): Target "HelloWorld" links to target "GTest::GTest" but the target was not found. Perhaps a find_package() call is missing for an IMPORTED target, or an ALIAS target is missing?"
[CMakeLists.txt](https://github.com/InsightSoftwareCo

[2022-01-19 16:29] dzenanz commented on #3111
You seem to be forgetting `INCLUDE(${ITK_USE_FILE})`. Take a look at the [Hello Insight](https://itk.org/Wiki/ITK/HelloInsight#Write_the_source_code).

[2022-01-19 17:14] zhusihan-python commented on #3124
with ITK_WRAP_VECTOR_COMPONENTS 1 include rebuid,
![image](https://user-images.githubusercontent.com/23504604/150180440-96a0a96c-a021-4edc-bdc3-5be8480d59df.png)
now get AttributeError: module 'itk' has no attribute 'TileConfiguration'
[code]
kind of weird, 3 days ago it can get to itk.imread, i will try the build verion on another pc tommorrow and update the result here

[2022-01-19 18:20] dzenanz commented on #3124
If you build ITK yourself, you need to enable `Module_Montage`. Otherwise it will not be built.

[2022-01-19 21:48] Eric-JH commented on #3111
No, I test with INCLUDE(${ITK_USE_FILE}) and have tried the example. The same error was reported
[CMakeLists.txt](https://github.com/InsightSoftwareConsortium/ITK/files/7900773/CMakeLists.txt)

[2022-01-19 21:57] dzenanz commented on #3111
This issue is most likely related to `vcpkg`, so I suggest you focus your attention there.

[2022-01-19 22:06] Eric-JH commented on #3111
OK, thanks

[2022-01-20 07:10] zhusihan-python commented on #3124
my fault. the old version i compiled can work well, and i found the original itk can work well too with
[code]
when save the output, use this to get RGB picture correctly
[code]
the output image
![image](https://user-images.githubusercontent.com/23504604/150289062-676de63a-c802-4c58-a881-4fc44366ff5a.png)
i think this issue can be closed, its not a bug, thanks for all your help
there is one more q

[2022-01-20 13:45] thewtex commented on #3124
@zhusihan-python well done with your persistence, and great to see your success!

The JPG has lossy compression, which explains the size difference. In the future, you could use the NGFF-OME-Zarr support we are working on, which will provide better lossless compression.

[2022-01-20 13:45] #3124 closed

[2022-01-20 17:12] brad-t-moore commented on #3099
Well, I have successful compilation but I am getting DLL load errors on the base ITK Python files.  In particular, `_ITKPyBasePython.pyd` seems to be linked to two different version of `python##.dll`.  Trying to figure out what has changed.

[2022-01-20 19:24] HastingsGreer opened #3130 "Intermittent Segfault in python DisplacementFieldTransform + resample_image_filter"
### Description

When a resample_image_filter tries to interpolate a DisplacementFieldTransform that is not aligned with it, it usually extrapolates, but sometimes segfaults.

### Steps to Reproduce

1): Download this self contained [gist](https://gist.github.com/HastingsGreer/5d21606b4fa56f90f8521d6ac79210ed)
2): Run python DisplacementFieldSegault.py with numpy and itk installed

[code]

### Exp

[2022-01-21 00:45] thewtex commented on #3099
Are all python-related variables in *CMakeCache.txt* as expected?

[2022-01-21 01:35] brad-t-moore commented on #3099
Recompiling now.  Current suspicion is that vcpkg mucked things up.  Will
give details if this works.

On Thu, Jan 20, 2022, 7:45 PM Matt McCormick ***@***.***>
wrote:

[2022-01-21 14:40] brad-t-moore commented on #3099
Brutal!  So the issue was I had vcpkg installed on this machine a while back.  At least with the version I had, they were implementing their vcpkg linking by simply inserting a `vcpkg/installed/lib/*.lib` in to the configured linker command in Visual Studio BY DEFAULT!  It wasn't even showing up in the command-line display in Visual Studio.  I had to run the build process in Diagnostic mode and th

[2022-01-21 15:54] #3130 closed

[2022-01-21 15:55] HastingsGreer commented on #3130
My method of creating itk arrays of vectors was bad: caused underlying memory to get garbage collected.

[2022-01-21 15:56] thewtex commented on #3099
The Python debugging force is strong! :man_astronaut: :artificial_satellite: I can feel the power and how close you are! Excited for this!

[2022-01-21 16:13] thewtex commented on #3130
Hey @HastingsGreer !

Thanks for the awesome example and report! Your talent to find the corner cases is strong on this one :-)

I looked into the issue and found this was the source of the segfault, too.

[code]

here we lose a reference count to the underlying NumPy array `itk_disp_field` is viewing.

[code]

Changing this to

[code]

resolves the reference counting, but I found that it needs an

[2022-01-21 18:11] dzenanz commented on #3084
LesionSizingToolkit is in need of maintenance. Whoever uses it, should devote some time to it. Please submit this issue [there](https://github.com/InsightSoftwareConsortium/LesionSizingToolkit/issues/) and possibly cross-reference it to this one.

[2022-01-21 18:11] #3084 closed

[2022-01-21 18:12] melrobin commented on #3084
Aaaah  OK.  Thanks for that tip.

[2022-01-21 18:50] HastingsGreer commented on #3130
There seem to be two kinds of vector images in the python wrapping:
[code]
and while `itk.image_from_array(..., vector=True)` creates type 1, `d = itk.DisplacementFieldTransform[itk.D, 3].New(); d.SetDisplacementField(...)` appears to only support type 2.

Would allowing SetDisplacementField to receive and argument of type itk.VectorImage[itk.D, 3] be possible?

[2022-01-21 18:54] dzenanz commented on #3130
I don't see a problem with this. Adding VectorImage to DisplacementFieldTransform's [wrapping](https://github.com/InsightSoftwareConsortium/ITK/blob/v5.3rc03/Modules/Filtering/DisplacementField/wrapping/itkDisplacementFieldTransform.wrap) should not be hard.

[2022-01-22 20:33] seanm opened #3135 "No upstream is defined for third party /Modules/ThirdParty/libLBFGS"
There's no Read Me or link to any upstream source repository.

Looks like it might be from here: https://github.com/chokkan/liblbfgs

There are a few warnings in that code that I fixed, and I submitted a patch here: https://github.com/chokkan/liblbfgs/pull/35

But it seems the project may be moribund...

[2022-01-22 20:56] seanm opened #3136 "Replace pthreads and Win32 threads with C++11 threads?"
I see ITK master uses both pthreads and Win32 threads.

Does this just pre-date C++11 threads?  Or is there some need for platform-specific code here?  i.e. could we switch to C++11 threads?

[2022-01-24 01:20] seanm commented on #3031
I've gone through all the TSan failures, and the following all basically have the same bug:

- itkStatisticsUniqueLabelMapFilterTest1
- itkStatisticsUniqueLabelMapFilterTest2
- itkParallelSparseFieldLevelSetImageFilterTest
- itkNarrowBandImageFilterBaseTest
- SLICFixture.Blank2DImage
- itkSLICImageFilterTest3

[2022-01-24 10:48] wyli opened #3137 "itk python 5.3rc3 -- error importing python methods"
### Description

some importing commands don't work in 5.3rc3

### Steps to Reproduce

[code]

### Expected behavior

no error

### Actual behavior

[code]

### Versions

itk-5.3rc3

### Environment

evaluated with macOS and ubuntu

[2022-01-24 14:23] thewtex commented on #3136
We do use C++11 threads by default in `master`.

[2022-01-24 14:27] hjmjohnson commented on #3136
@thewtex I am assuming that the answer to @seanm 's question is "YES" we should purge the system of pthread and Win32 threads in favor of C++11 therads.

Only supporting and exposing one threading mechanism.

[2022-01-24 14:28] thewtex opened #3138 "Wrap DisplacementFieldTransform for VectorImage"
Specifically a VectorImage of double. We should also support VectorImage of float's.

This is important for registration.

We may need to the `itk::VectorLinearInterpolateImageFunction` with `itk::LinearInterpolateImageFunction`, which, according to its documentation, supports VectorImage`s.

Then add the type to the wrapping.

[2022-01-24 14:36] dzenanz commented on #3136
Yes, ThreadPool uses C++11 threads.

[2022-01-24 14:37] hjmjohnson commented on #3136
@dzenanz I'm asking for a little more clarification here so that I can determine the scope of the work I am considering.

A) Are Win32 & pthreads already deprecated and replaced by C++11 threads in the default builds on all platforms from on the master branch?  That would imply some tedious but simple housecleaning.  I'm willing to have a @kian-weimer take a stab at cleaning that up.

B) If, howev

[2022-01-24 14:37] thewtex commented on #3136
The implementations are not the default, but they are around for backwards compatibility and testing. Yes, we should purge them, but that should occur in ITK 6.

C++11 threads are the current default for C++ builds.

We also support TBB threading, which is the default for Python package builds in ITK 5.3.

In the future, the best default could be #2831

[2022-01-24 14:39] dzenanz commented on #3136
@hjmjohnson Purging native threads is a large and finnicky undertaking.

[2022-01-24 14:54] blowekamp commented on #3136
With the prior v5.2 release there were still some issues and instabilities with the default ITK thread pools which cause SimpleITK to set the older platform multithreads as default. There have been various improvements and fixes to the default pool threader that are coming in v5.3 that needs some to to see if they address the previous issues.

IMHO it is premature to remove the older threading mod

[2022-01-24 20:19] wyli commented on #3137
looks like it's an issue only if a previous version is installed already:
[code]

the problem can be fixed by simply reinstalling with
[code]
I guess it's not a critical issue I'm closing this ticket.

[2022-01-24 20:19] #3137 closed

[2022-01-25 00:16] brad-t-moore commented on #3099
@thewtex I think I'm running into cyclic-dependency issues.  As is, Metricsv4 has Optimizersv4 as a dependency (Metricsv4 <- Optimizersv4).  This is in part due to ObjectToObjectMetricBase being in Optimizersv4.  On the other side, Optimizersv4 has itkRegistrationParameterScalesFromJacobian, itkRegistrationParameterScalesFromPhysicalShift, and itkRegistrationParameterScalesFromIndexShift which whi

[2022-01-25 00:22] brad-t-moore commented on #3099
I'm going to move the .wrap files that have the cyclic dependency into Metricsv4 and report back.

[2022-01-25 15:05] thewtex commented on #3099
@brad-t-moore good plan! :+1:

[2022-01-25 15:06] thewtex commented on #3137
@wyli thanks for the update!

[2022-01-25 17:21] Leengit opened #3142 "STYLE: Modules/Core/Common/include/VNLSparseLUSolverTraits.h:17: error: namespace not defined"
### Description

[code]
fails with a KWStyle error:
[code]

It may be that `VNLIterativeSparseSolverTraits.h` would do the same.

### Expected coding style

Unsure what it should be.  Either

1. The code needs to be put in a namespace such as itk
2. The KWStyle check needs to pass despite the lack of a namespace; the lack of namespace should be documented in the file itself.

### Versions

- Commi

[2022-01-25 17:37] Leengit opened #3143 "BUG: KWStyle mishandles `template<unsigned>`"
### Description

If
[code]
is replaced with
[code]
then KWStyle gives the error:
[code]

### Expected behavior

KWStyle should permit `unsigned` in this context of an unsigned template parameter that is unnamed.

### Actual behavior

KWStyle gives the error:
[code]

### Reproducibility

100%

### Versions

Commit ae8cd2588968b1f9680fd3f981a3139e433babc9

### Environment

- Linux 5.13.0-27-generic

[2022-01-25 21:54] thewtex commented on #3142
An exception may need to be added like this: https://github.com/InsightSoftwareConsortium/ITK/blob/3a8307b5c71a0e6c1877b508b719834b4db4ef50/Modules/Core/Mesh/ITKKWStyleOverwrite.txt#L3

[2022-01-26 14:40] dzenanz commented on #3143
This might be in https://github.com/Kitware/KWStyle/issues. Even if not, the fix should go there.

[2022-01-26 14:42] Leengit commented on #3143
Closing this issue in favor of https://github.com/Kitware/KWStyle/issues/106.

[2022-01-26 14:42] #3143 closed

[2022-01-27 22:35] brad-t-moore commented on #3099
Posed to go but I will rebase and test to handle the merge conflicts.

[2022-01-28 14:24] blowekamp opened #3148 ""unknown warning group '-Wimplicit-int-float-conversion'" = Apple Clang 10.0.1.10010046"
The following compilation warning is occurring:
[code]

This is occurring os Apple OS X, Xcode 10.30 with reported compiler version:
[code]

[2022-01-28 15:03] seanm commented on #3148
Where do you see it?  Have a cdash link?  You using newest master?

[2022-01-28 15:35] blowekamp commented on #3148
I'm seeing it on the SimpleITK Dashboard: https://open.cdash.org/viewBuildError.php?type=1&buildid=7704947

It is using the newish 5.3.rc03 tag.

[2022-01-28 15:38] seanm commented on #3148
I'd guess that predates https://github.com/InsightSoftwareConsortium/ITK/commit/ae8cd2588968b1f9680fd3f981a3139e433babc9

[2022-01-28 15:41] blowekamp commented on #3148
Awesome! Thank you!

[2022-01-28 15:41] #3148 closed

[2022-01-29 08:02] issakomi commented on #2891
Occasionally i have run into the same problem and have remembered this issue. I have imported enhanced MR (multi-frame) [file](https://drive.google.com/file/d/1GmQtfT6AToZXU6cz18Ob5WlxufmnwjXC/view?usp=sharing) into Slicer DICOM database and exported (to check other things) immediately (right click at series in Data module, Export DICOM. Slicer export is classic MR series. There are so far no othe

[2022-02-01 00:35] PranjalSahu opened #3150 "itk.vector_from_array_container fails for empty numpy array"
### Description

### Steps to Reproduce

[code]

The above code fails with the following message:
[code]

And Following code works:
[code]

### Expected behavior
Output should be empty numpy array.

### Actual behavior

[code]

### Reproducibility

100%

### Versions

Linux ITK 5.3rc03

### Environment

Linux Ubuntu 20.04.2 LTS

### Additional Information

[2022-02-01 14:45] thewtex commented on #3150
@PranjalSahu can we not call this if the array is empty?

[2022-02-01 15:20] PranjalSahu commented on #3150
Yes, we can have a check on vector size and use it accordingly.
So this issue is not a blocker.
However, it will be elegant if it gets handled in the function itself.

[2022-02-01 18:49] thewtex commented on #3150
Yes, it would be nice to handle it in the function. I do not see a C-API to create an empty memory view object, though: https://docs.python.org/3/c-api/memoryview.html

[2022-02-02 02:36] chrisroat opened #3151 "Difficulty using Rigid2DTransform in python registration demo"
This may belong in discourse, but I'm not sure how long that approval process might be.

### Description

I have not been able to successfully alter the python translation-only registration example to use rigid-2d-translation (adding a rotation angle).

### Steps to Reproduce

1. Verify the unmodified [demo](https://itk.org/ITKExamples/src/Registration/Common/Perform2DTranslationRegistrationWithMe

[2022-02-02 15:51] thewtex commented on #3151
@chrisroat since the steps in space are larger for a rotation unit versus a translation unit, the optimizer scale should be set accordingly. For example:

 https://itk.org/ITKExamples/src/Core/Transform/MutualInformationAffine/Documentation.html

[2022-02-02 16:32] dzenanz commented on #3151
This was cross-posted [on the forum](https://discourse.itk.org/t/difficulty-using-rigid2dtransform-in-python-registration-demo/4777).

@chrisroat please close the issue if Matt's comment helped you.

[2022-02-02 18:54] chrisroat commented on #3151
@thewtex Can you be more explicit?  Your link is and example with many lines of code in a different language.

I tried to provide exactly the code I run via a small patch on a published demo, so it should be quick to replicate.  I would be grateful if you could provide an alternate or additional patch that produces correct results.

[2022-02-02 18:58] dzenanz commented on #3151
[ExhaustiveOptimizer example](https://itk.org/ITKExamples/src/Numerics/Optimizers/ExhaustiveOptimizer/Documentation.html) has a Python version, and shows how to set different scales for angles vs translations via `optimizer.SetScales()`.

[2022-02-02 20:26] chrisroat commented on #3151
It's not clear to me that the scales are the problem, as the optimization is stopping after two iterations and returning a value of zero for the metric.  Also, this new example is a totally different kind of optimizer, which does a full grid search.

As best I can tell, the problem may be with the various different transformers that are set up (fixed, rigid, initial, etc).   It helps to remove the

[2022-02-02 20:39] dzenanz commented on #3151
In your code, after `optimizer = ...` add
[code]

[2022-02-02 21:23] tbirdso commented on #3033
Closed with #3121

[2022-02-02 21:23] #3033 closed

[2022-02-02 21:25] tbirdso commented on #2233
@thewtex Are you taking this one on for 5.3 or still bumped to 5.4?

[2022-02-02 21:30] thewtex commented on #2233
@tbirdso looking at this for 5.3 since it impacts another issue reported in Slicer.

[2022-02-02 23:54] chrisroat commented on #3151
Yep, that worked!  Thanks!

Just so I understand and also don't run into future issues, can you provide any insight as to
- why the transformers on the 2D Translation demo are used in `SetMovingInitialTransform` and `SetFixedInitialTransform`, whereas the Exhaustive Optimizer demo does not use these?
- why the Exhaustive Optimizer demo calls `InitializeTransform()` on the initializer, whereas 2D T

[2022-02-03 14:27] dzenanz commented on #3151
2D Demo is supposed to be short and use minimum number of concepts/classes. It assumes that "no initial translation" is a good enough initialization.
[code]
This is probably not necessary, but demonstrates how to have a custom transform from the fixed image into the virtual space in which registration is taking place.

Exhaustive example is a bit more realistic, where we don't think that "no trans

[2022-02-04 17:44] dzenanz opened #3159 "Expose SpatialOrientation enums in Python"
This was originally tracked as [ITK-3550](https://insightsoftwareconsortium.atlassian.net/browse/ITK-3550). There is [some attempt](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Core/Common/wrapping/itkSpatialOrientation.wrap) to expose it, but as far as I can tell, it doesn't work. #140 was an attempt, which was abandoned "due to build issues". 0dd31a62f851a0ae95ef4c6d6c85e

[2022-02-05 13:14] engineer1109 opened #3163 "Build error for wasm"
### Description

Build error for wasm when -s USE_PTHREADS=1

Tells:

In file included from /home/wjl/github/ITK/Modules/Core/Common/src/itkPlatformMultiThreader.cxx:40:
/home/wjl/github/ITK/Modules/Core/Common/src/itkPlatformMultiThreaderSingle.cxx:42:29: error: use of undeclared identifier 'm_GlobalMaximumNumberOfThreads'; did you mean 'm_MaximumNumberOfThreads'?

I changed  m_GlobalMaximumNumbe

[2022-02-05 14:52] engineer1109 opened #3164 "For android build easier， close the module of HDF5"
### Description

### Steps to Reproduce

### Expected behavior

### Actual behavior

[code]

### Reproducibility

### Versions

It is hard for android to run “try_run” or "add_custom_command".

For cross-compiling, I want to add an option to close any Run Command of building.

The VNL and HDF5 has Run Command.

### Environment

Host Linux

Target Android

### Additional Information

[2022-02-07 18:25] thewtex commented on #3163
To use wasm, use [itk-wasm](http://insightsoftwareconsortium.github.io/itk-wasm). For parallelism, use the WebWorkerPool:

https://github.com/InsightSoftwareConsortium/itk-wasm/blob/12eb34db0fb1a2efdd71c1e5a60bf9808e6d2310/test/browser/core/WebWorkerPoolTest.js#L23-L56

[2022-02-07 22:07] mathstuf opened #3168 "Usage requirements should include C++14"
### Description

ITK targets should have C++14 usage requirements.

[code]

### Steps to Reproduce

Compile a source using ITK with a standard flag older than C++14.

### Expected behavior

This warning should not be possible when using ITK's targets:

[code]

The CMake targets indicate that at least C++14 is required.

### Actual behavior

[code]

### Reproducibility

Always.

### Versions

Happe

[2022-02-08 14:44] wyli commented on #2663
thanks for the support, this is now addressed. implementation at: https://github.com/Project-MONAI/MONAI/blob/4d0baa0a94c1488af188f298c6f0d6087ced083c/monai/data/image_writer.py#L368 please feel free to close this ticket.

[2022-02-08 15:17] dzenanz commented on #2663
Thanks for the update!

[2022-02-08 15:17] #2663 closed

[2022-02-08 18:48] tbirdso opened #3175 "ITK Python v5.3rc03 fails to import ITKImageGrid after upgrade"
### Description

Seeing an issue where ITK v5.3rc03 fails to find the `ImageGrid` module after upgrading from a previous ITK version such as v5.2.post1. Succeeds on a clean install.

### Steps to Reproduce

1. `pip install itk==v5.3rc03`
2. Launch Python console
3. `import itk`
4. `itk.auto_progress(2)` (for module visibility)
4. `itk.force_load()`

### Expected behavior

All modules load without

[2022-02-08 18:55] tbirdso commented on #3175
@dzenanz If you have time could you please verify whether you can reproduce? I haven't seen an upgrade path issue for ITK like this before. Simple enough to re-install, but I imagine this may be something we want to resolve before the 5.3 release to avoid forcing existing users to un- and re-install ITK Python modules.

[2022-02-08 18:56] tbirdso commented on #3175
@thewtex Ping for visibility

[2022-02-08 21:12] dzenanz commented on #3175
I can reproduce it. Windows 10, Python 3.9.6. Going from 5.2.1.post1 to 5.3rc3 gets me:
[code]
After `pip uninstall itk` and cleaning up all ITK-related folders in `site-packages`, then `pip install itk==v5.3rc03` gets a properly working ITK.

[2022-02-09 01:59] tbirdso commented on #3175
I don't see any commit messages in ITKImageGrid since 5.3rc02 was tagged on Oct 27th that should changed Python module behavior 🤔

[ITKImageGrid history](https://github.com/InsightSoftwareConsortium/ITK/commits/master/Modules/Filtering/ImageGrid)

[tag history](https://github.com/InsightSoftwareConsortium/ITK/tags)

[2022-02-09 14:54] tbirdso commented on #3175
Observed a different error loading ITKFFT this morning that was resolved again by re-installing ITK packages. Haven't tried recreating with an upgrade path.
[code]

[2022-02-10 02:35] thewtex commented on #3175
It may be that pip is not resolving package dependencies correctly.

It is best to start from a clean virtual environment / conda environment.

[2022-02-10 14:33] dzenanz commented on #1163
Would moving https://github.com/InsightSoftwareConsortium/ITKSimpleITKFilters/blob/master/include/itkDICOMOrientImageFilter.h here resolve this issue?

[2022-02-10 16:41] #3168 closed

[2022-02-10 17:10] ferdymercury opened #3184 "RawImageIO integers"
### Description

Hello,
I have a binary 2D image that I would like to read using `itk.RawImageIO`.

However, I am unable to use it, because my format is integer instead of float.

Right now, it looks as if only floats are supported:

[code]

### Impact analysis

Supporting shorts and ints should not affect much the size of the program, I believe.

### Expected behavior

Reading Integers from binar

[2022-02-10 19:59] dzenanz commented on #3184
PRs are always welcome. Take inspiration from https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Filtering/ImageGrid/wrapping/itkFlipImageFilter.wrap or https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Filtering/ImageGrid/wrapping/itkConstantPadImageFilter.wrap.

[2022-02-10 20:38] jcfr opened #3186 "Failure to include "expat_external.h" when building against ITK install tree without system install of expat"
### Description

On system were expat library is not installed on the system, it does not seem possible to build a project that include `expat.h` against ITK .

This happens when building against an **ITK install tree**. There are no issue when building against an ITK build tree

### Steps to Reproduce

* Build ITK

[code]

#### Download SlicerExecutionModel sources

[code]

#### Build SlicerExecu

[2022-02-11 14:29] dzenanz opened #3193 "Refactor UpdateDoubleConversionFromGoogle.sh"
https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/ThirdParty/DoubleConversion/UpdateDoubleConversionFromGoogle.sh needs to be updated to use https://github.com/InsightSoftwareConsortium/ITK/blob/master/Utilities/Maintenance/update-third-party.bash, similar to e.g. https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/ThirdParty/ZLIB/UpdateFromUpstream.sh.

[2022-02-11 19:57] brad-t-moore opened #3194 "PyCommand utilizes Object and EventObject parameters"
### Description

Currently PyCommand ignores the Command classes Object and EventObject parameters.  This prevents doing things like interrogating the EventObject or the callback Object.

### Expected behavior

PyCommand passes Object and EventObject parameters to the user-specified Python callback.

### Actual behavior

PyCommand ignores Object and EventObject parameters from the Command.

### Ad

[2022-02-14 16:04] #3159 closed

[2022-02-14 20:38] brad-t-moore commented on #2058
@thewtex @dzenanz Have you all noticed this too?  I'd say many classes' API documentation is affected.

[2022-02-14 20:49] blowekamp commented on #2058
PR #3183 should have addressed this issue. But the itk.org Doxygen hasn't been updated since Jan 18th. There is some additional info here: https://discourse.itk.org/t/doxygen-with-github-actions-and-pages/4790/1

Check the class in the liked alternate docs and let us know if it is OK there.

[2022-02-15 08:31] Eric-JH opened #3202 "Dicom reading"
### Description
I tried my code and the error was reported. I couldn't unstander the error info.

### code
`
#include "itkImageFileReader.h"
#include "itkImageFileWriter.h"
#include "itkRescaleIntensityImageFilter.h"
#include "itkGDCMImageIO.h"
#include "itkJPEGImageIOFactory.h"

int main(int argc, char* argv[])
{

    using InputPixelType = signed short;
    const unsigned int InputDimension = 2;

[2022-02-15 08:36] #3111 closed

[2022-02-15 14:49] dzenanz commented on #3202
Maybe all that is needed is updated GDCM (#3042). Could you try building against that branch?

[2022-02-15 14:51] dzenanz commented on #3202
The error message says that the DICOM dictionary which comes with GDCM does not contain something used in the image you are trying to read. The expectation is that a newer version of GDCM might have it. Otherwise report it to the maintainer, @malaterre. CC: @seanm.

[2022-02-15 16:27] N-Dekker opened #3204 "Upgrade Google double-conversion library as "REQUIRED" (at least to version 3.1.6)"
With pull request #3160  commit https://github.com/InsightSoftwareConsortium/ITK/commit/701c8c25ea998cc5defdd3457241c518a7b8b65b ("COMP: Add minimum version for double-conversion" by @RafaelPalomar), ITK requires _at least_ version 3.1.6 of the double-conversion library: https://github.com/InsightSoftwareConsortium/ITK/blob/701c8c25ea998cc5defdd3457241c518a7b8b65b/Modules/ThirdParty/DoubleConversi

[2022-02-15 22:03] dzenanz commented on #2956
@PranjalSahu will work on this.

[2022-02-16 23:07] issakomi commented on #3202
There is no entry for that private tag in GDCM master. This warning should not prevent image from loading. If the file fails to load it may have private transfer syntax and _PMSCT_RLE1_ or _LOSSLESS RICE_ compression. To identify it you could post dump (gdcmdump or dcmdump), sensible attributes like name, maybe SOP Instance UID, study and series UIDs, can be deleted. For _PMSCT_RLE1_ there is an e

[2022-02-17 07:12] SimonRit opened #3207 "Doxygen tarballs are no longer available"
### Description

The three links provided in the doxygen footer
https://github.com/InsightSoftwareConsortium/ITK/blob/master/Documentation/Doxygen/DoxygenFooter.html#L18-L20
are broken. This breaks the generation of Module documentation which relied on the tag file, e.g., [RTK](https://github.com/SimonRit/RTK/blob/master/documentation/Doxygen/CMakeLists.txt#L14).

### Expected information

Tarball

[2022-02-17 07:23] malaterre commented on #3202
@Eric-JH As pointed out by @issakomi there is no relation in between the warning reported and your description of an "error". Please either submit the original DICOM dataset, or provide a clearer error description. I am going to incorporate the new dict entry so that the warning disapear in next release of gdcm.

Closing as incomplete, feel free to re-open.

[2022-02-17 07:23] #3202 closed

[2022-02-17 07:27] malaterre commented on #3202
For reference: 450b3d342a5866ff13275801686c18386d083de5

[2022-02-17 17:34] #3184 closed

[2022-02-17 17:38] thewtex commented on #3207
public.kitware.com was migrated to a new system -- working on the updated URLs.

[2022-02-17 17:40] thewtex commented on #3186
@jcfr can we close this per #3187 ? :pray:

[2022-02-17 20:14] tbirdso opened #3208 "Inconsistent read from `.mha` vector image"
### Description

Behavior is observed where vector pixel data is read inconsistently from a small `.mha` data file.

### Steps to Reproduce

1. Download the data file from the ITKUltrasound data folder on Girder: [rf_voltage_15_freq_0005000000_2017-5-31_12-36-44_ReferenceSpectrum_side_lines_03_fft1d_size_128.mha](https://data.kitware.com/#item/593d92148d777f16d01e4f11). The data file is a 3D image

[2022-02-18 00:17] seanm opened #3210 "blocked forever in select() from kwsysProcessWaitForPipe when running under TSan on macOS 12"
I've been working on finding & fixing ITK tests under Thread Sanitizer (TSan).  I've tried on 3 Macs:

1. intel macOS 10.14
2. intel macOS 11.6
3. arm64 macos 12.2

On the last one only, many tests block forever with this backtrace:

[code]

As per man page "If timeout is a null pointer, the select blocks indefinitely".

Not sure if it's due to arm64 or due to macOS 12.x.  I don' have intel on mac

[2022-02-18 00:17] seanm commented on #3210
CC @bradking

[2022-02-18 08:01] agravgaard commented on #3186
It's very likely. Strangely, I haven't seen this one myself, but maybe the build directory has always been accessible in my builds.
(Sorry for the slow response)

[2022-02-18 13:47] #3207 closed

[2022-02-18 15:18] bradking commented on #3210
When this is blocking, has the child process exited?  There is supposed to be a SIGCHLD handler that writes one byte to a pipe on which `select` is waiting.  It's a standard UNIX idiom for converting signals into select-able events.

[2022-02-18 16:34] seanm commented on #3210
I put a breakpoint at [ITK/Modules/ThirdParty/KWSys/src/KWSys/ProcessUNIX.c:2832](https://github.com/InsightSoftwareConsortium/ITK/blob/bc9ba8540f96c0fa4e9100b25b05eb812074a64e/Modules/ThirdParty/KWSys/src/KWSys/ProcessUNIX.c#L2832) but don't hit it.  Is that where you mean?

[2022-02-18 16:40] bradking commented on #3210
I wonder if TSan is affecting which thread gets the signal delivery, and whether the handler runs.

[2022-02-18 16:50] seanm commented on #3210
It would be nice to separate intel vs arm and macOS 11 vs 12.  I do have some Intel + 12 Macs in the office, but none really setup for building ITK (no Xcode, no git, etc.)

I've tried adding some printf statements to look at things like errno, and then the bug usually does not occur.  So it's perhaps sensitive to timing.

[2022-02-19 08:06] Eric-JH commented on #3202
@malaterre How can I send the dicom file to you

[2022-02-19 11:52] malaterre commented on #3202
@Eric-JH Just use the email: `git log | grep malaterre`. As mentionned on the gdcm-developers mailing list, you can use gdcmanon to remove any PHI.

[2022-02-20 15:04] hjmjohnson opened #3213 "Wrap lowlevel c++ string conversion exceptions with ITK exceptions."
### Description

ITK was recently changed from using 'ato[ifd]' to using 'sto[ifd]' in an attempt to provide more robust error checking.

[code]

### Impact analysis

The above change now introduces a data dependant throw of low-level C++ exceptions.  ITK should convert these into ITK exceptions instead, with non-generic messages based on the situation.

### Expected behavior

ITK generates contex

[2022-02-20 15:09] hjmjohnson commented on #3213
@kian-weimer This issue would be a really nice improvement to ITK that you could take on after the wrapping stuff is figured out better.

[2022-02-21 18:25] #3186 closed

[2022-02-21 18:31] dzenanz opened #3216 "Python wrappings do not compile with Ninja on Windows 11"
Python wrapping fail to compile with Ninja generator when using MSVC compile from VS2019 on Windows 11.

### Steps to Reproduce

 1. Start x64 developer command prompt of VS2019
 1. Make a new directory next to ITK source
 1. C:\Dev\ITK-ninja>`cmake -DITK_WRAP_PYTHON=ON -GNinja ..\ITK-git`
 1. C:\Dev\ITK-ninja>`ninja`

### Expected behavior

Compiles without errors.

### Actual behavior

[code]

#

[2022-02-22 06:06] jcfr commented on #3186
Indeed, I discovered the issue in the context of a build environment setup within a docker image in which expat lib was not installed by default.

[2022-02-22 19:35] seanm commented on #3210
So in fact this happens on both Intel and arm, and both Big Sur and Monterey.  I was thrown off originally because I had different build options on different Macs.  All the tests that have this issue require `BUILD_EXAMPLES` enabled.  Once I enabled that everywhere, I see the failures everywhere.

I wonder if this would happen on non-Mac OSes too...?

[2022-02-22 20:09] tbirdso opened #3218 "Inconsistent `itk::VariableLengthVector` addition results"
### Description

`itk.VariableLengthVector` addition with the `operator+` override sometimes results in incorrect output data. The behavior is specifically observed when arithmetic occurs inside a C++ image filter that is wrapped for Python and executed from a Python console.

Examining [itkVariableLengthVector.h](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Modules/Core/Common/inc

[2022-02-22 21:12] tbirdso commented on #3208
Hi @aylward @jjomier, do either of you perhaps have thoughts on how best to investigate this issue with reading from a MetaImage file?

[2022-02-23 15:23] jjomier commented on #3208
@aylward let me know if I should investigate this. Looks like either the writing or reading of the file is incorrect (haven't tested C++)

[2022-02-23 18:46] N-Dekker opened #3222 "WIP: BUG: `ContourSpatialObject<TDimension>::Update()` looks suspicious"
There is a line of code in `ContourSpatialObject<TDimension>::Update()` that looks suspicious to me:

    newPoint = pnt[d] + i * step[d];

https://github.com/InsightSoftwareConsortium/ITK/blob/a2b39155dae42fb88d52c0d7d7d7e1f1a8c3e954/Modules/Core/SpatialObjects/include/itkContourSpatialObject.hxx#L217-L225

You see, `newPoint` is a `PointType`, and it gets filled by a scalar value, `pnt[d] + i *

[2022-02-23 18:54] dzenanz commented on #3222
@aylward might have some comment.

[2022-02-23 18:58] aylward commented on #3222
You're right!   Great catch!    Want to submit a pull request to fix it?

[2022-02-23 19:07] N-Dekker commented on #3222
Thanks @aylward but I don't know how to fix it properly. Is it really a serious bug?  Or is this part of the code not so important anyway?

If it is a serious bug, can you please tell me the intended behavior?

[2022-02-23 22:02] N-Dekker commented on #3222
The apparent bug is part of the `case InterpolationMethodEnum::LINEAR_INTERPOLATION` section of a `switch (m_InterpolationMethod)`. It appears that this specific "case" is not tested, at least not by [itkContourSpatialObjectTest.cxx](https://github.com/InsightSoftwareConsortium/ITK/blob/a2b39155dae42fb88d52c0d7d7d7e1f1a8c3e954/Modules/Core/SpatialObjects/test/itkContourSpatialObjectTest.cxx). If i

[2022-02-23 22:47] aylward commented on #3222
No.  Some kind of interpolation is needed to create a contour from control
points.

I'd rather add a test and fix it.  It is a one line change to fix, exactly
as you noted.

I will get to it after March 8th.  I have another project due that day.

On Wed, Feb 23, 2022, 5:03 PM Niels Dekker ***@***.***> wrote:

[2022-02-23 23:29] N-Dekker commented on #3222
@aylward Thanks for your reply, Stephen. Please check pull request #3225 "BUG: Quick-fix ContourSpatialObject::Update(), LINEAR_INTERPOLATION case", and if possible, please _approve_ the pull request  😃

I think it would still be useful if you could get back to it after March 8th, because I consider my pull request #3225 just a quick-fix. I guess you may be able to fix it more thoroughly 😃

[2022-02-24 16:49] dzenanz opened #3229 "MaxObjectKiB was obsoleted by hooks-max-size"
`MaxObjectKiB` was obsoleted by `hooks-max-size`, so ITK's pre-commit hook should stop checking the former and look at the latter instead. From: https://github.com/InsightSoftwareConsortium/ITK/pull/3215#discussion_r813059233.

[2022-02-24 17:42] N-Dekker commented on #3222
I'm glad to see the quick-fix for this issue is merged quickly, thanks @hjmjohnson! So now the code says:

[code]

https://github.com/InsightSoftwareConsortium/ITK/blob/5b71d63a88cc80547e8584eae59e945fbbf51e5d/Modules/Core/SpatialObjects/include/itkContourSpatialObject.hxx#L222-L230

My remaining questions are:

- Why does it do a newPoint.Fill(...), when it appears that each coordinate of newPoin

[2022-02-24 17:47] bradking commented on #3216
`castxml` internally runs the compiler command given to `--castxml-cc-msvc` in order to detect its preprocessing behavior.  In this case, it's running `cl ... -FoNUL ...`, where the `-FoNUL` option is supposed to suppress generating any actual output file.  Windows has a special hook to name the `NUL` device (equivalent to `/dev/null`) in as a file in any directory.  Maybe something changed in Win

[2022-02-24 19:12] Leengit opened #3230 "Create templated function `MakeFilled`"
### Description

As @N-Dekker suggests in #3007,

Code that achieves that is
[code]

[2022-02-24 19:25] Leengit commented on #3230
Actually, I would dispense with the `empty()` check because maybe not all containers have that.  And the ones that do have that, but don't declare it as `constexpr`, will give cryptic compiler errors.  That they error is correct, but the messages are not necessarily helpful.
[code]

[2022-02-24 19:36] N-Dekker commented on #3230
Thanks @Leengit but I think it is important that containers like `std::vector` and `itk::Array` are excluded, one way or the other. `MakeFilled` should only be available for container types whose default initial size > 0. What about the following?

    template <typename TContainer>
    TContainer
    MakeFilled(const std::remove_reference_t<decltype(*TContainer{}.begin())> & value)
    {
      TC

[2022-02-24 19:52] Leengit commented on #3230
Like `empty()`, `size()` will not be `constexpr` for the containers with a variable size.  We would properly get compiler errors but they will not be the nice `"The container must be non-empty by default!"`.

[2022-02-24 22:23] Leengit commented on #3230
With my compiler, SFINAE does not silently fail if there is also a failing `static_assert`; the `static_assert` is in force despite the earlier substitution failure.  So a `static_assert(false, "Bad!");` in the code that is a specialized template for zero-sized containers will warn us about, for example, `std::vector<float>` but will also falsely warn us about `std::array<float, 4>` before it real

[2022-02-24 23:32] N-Dekker commented on #3230
Very clever 👍, however, personally I find a static_assert much easier to read than SFINAE. (I find SFINAE a rather complicated mechanism in general, and I would rather just use it to solve some particular overloading problems.)

Some small remarks:

I don't really understand. If the substitution failure works properly, the corresponding static_assert failure should not occur. 🤷

The `std::enable_i

[2022-02-25 14:55] Leengit commented on #3230
I agree.  But g++ 10.3.0 on Ubuntu 20.04 doesn't.

In the present case, with g++ 10.3.0, there is no advantage to SFINAE.  So, yes, there is no advantage to be gained from the complications of SFINAE in this case.

I like it.

I like it.

[2022-02-25 14:59] Leengit commented on #3230
So, yes @N-Dekker code in https://github.com/InsightSoftwareConsortium/ITK/issues/3230#issuecomment-1050196001 looks like the best implementation.

[2022-02-25 15:57] Leengit commented on #3230
G++ bug report submitted as: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=104691

[2022-02-25 16:14] dzenanz commented on #3230
Well, `clang` and `msvc` also [fail to compile this](https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(filename:'1',fontScale:14,fontUsePx:'0',j:1,lang:c%2B%2B,selection:(endColumn:1,endLineNumber:6,positionColumn:1,positionLineNumber:6,selectionStartColumn:1,selectionStartLineNumber:6,startColumn:1,startLineNumber:6),source:'%23include+%3Ctype_traits%3E%0A%23include+%3Calgorithm%3E%0A%23include

[2022-02-25 17:13] hjmjohnson opened #3233 "The ITK/ThirdParty/DICOMParser diverged from VTK/Utilities/DICOMParser"
### Description

The primary source for code changes should be identified (Probably VTK/Utilities/DICOMParser) and the codebases should
be kept synchronized from time-to time.

### Impact analysis

Code fixes in one or the other place are not documented or propogated.

See:  https://github.com/InsightSoftwareConsortium/ITK/pull/3227

### Expected behavior

VTK changes/fixes and ITK changes/fixes a

[2022-02-25 17:42] Leengit commented on #3230
We could support variable-sized arrays as well.
[code]
or using `std::fill_n`.

Or instead of `unsigned int VSize` some sort of variadic template parameter pack.

[2022-02-25 20:35] N-Dekker commented on #3230
Indeed, nice suggestion, but would it be useful enough?  For `std::vector` I think I would still prefer to simply pass the size and the initial "fill value" to one of its constructors:

    std::vector<double> v(5, 3.141592653589793238462643383279502884197169);

Do you have other variable-sized container types in mind for which you would want to use `MakeFilled`?

[2022-02-25 22:24] N-Dekker commented on #3230
@Leengit I'm sorry to kill your darlings, and I think `std::remove_reference_t<decltype(*TContainer{}.begin())>` looks really clever, but for the sake of code readability, I think it would be better to declare the `value` argument simply by `TContainer::const_reference`. This `const_reference` is defined for `itk::FixedArray`, `itk::Index`, `itk::Offset`, and `itk::Size`, as well as for `std::arra

[2022-02-27 23:24] N-Dekker commented on #3230
Pull request #3236 aims to pave the way for making `MakeFilled` **constexpr** 😃

[2022-02-28 14:18] Leengit commented on #3230
The motivation is that someone who prefers our new `MakeFilled` may want to use it more widely / consistently.  There are other ways to accomplish any of this, so it is not a show stopper in any sense.  Please proceed as you see fit.

[2022-02-28 14:23] Leengit commented on #3230
Right you are.  The GCC folks indicate that the current behavior is the proper behavior.  If we instead want the `static_assert` to not be checked at compile time in the presence of SFINAE in the code then we have to make the SFINAE present in the `static_assert` statement itself.  That is, `static_assert(false, ...)` won't do what I want but if `false` is changed to something that one of the temp

[2022-03-01 20:24] Leengit opened #3239 "STYLE: Update Python string formatting syntax"
### Description

Replace the likes of old-style `"My file is {file}".format(file=my_file)` with new-style `f"My file is {my_file}"`.

[2022-03-01 20:46] thewtex opened #3240 "Integrate nanoflann"
### Description

Integrate nanoflann:

https://github.com/jlblancoc/nanoflann

as a third-party module.

Then, use this as the backend for KD-tree classes or use it directly in pointset-to-pointset metrics.

### Expected behavior

nanoflann accelerates nearest neighbor or approximate nearest neighbor search operations.

[2022-03-01 20:50] thewtex commented on #3240
@pranjal1 please take a look.

[2022-03-01 20:59] tbirdso commented on #3229
Wanted to note that this caused an entirely separate branch to fail merging in master:
[code]

Is the preferred workaround for now to increase the local `hooks.MaxObjectKiB` default limit per the error output?

[2022-03-01 21:09] dzenanz commented on #3229
Yes. Or you could ignore the warning.

[2022-03-01 21:13] tbirdso commented on #3229
The error prevented the commit from proceeding. Increasing `MaxObjectKB` allowed the commit to proceed.

[2022-03-01 21:42] seanm opened #3241 "Accidental itk::NiftiImageIO metadata behaviour change wrt `pixDim[0]`"
In f38b1dd404d5a888b063bdfc023195a69d5212d7 I accidentally changed some behaviour.  Specifically, the value of `pixdim[0]` in `itk::NiftiImageIO` metadata is different before and after the change.

Previous to the change, `SetImageIOMetadataFromNIfTI()` was populated from the `nifti_1_header` structure.  After the change, it is populated from the `nifti_image` structure.  The latter is created fro

[2022-03-01 21:43] seanm commented on #3241
@hjmjohnson I'd appreciate your thoughts on this one...

Here's my WIP: https://github.com/InsightSoftwareConsortium/ITK/pull/3242

[2022-03-01 21:51] Leengit commented on #3230
Putting it all together, I think we've arrived at:
[code]
or something similar with `std::fill_n`.

[2022-03-01 21:56] dzenanz commented on #3241
This could go into https://github.com/InsightSoftwareConsortium/ITK/blob/master/Documentation/ITK5MigrationGuide.md.

I agree this is silly. Returning something more meaningful is better.

Finally, maybe other people were not really directly using NiftiImageIO, so no one noticed the change?

[2022-03-01 22:03] seanm commented on #3241
The only thing 'more meaningful' would be to return the value from the `nifti_1_header` struct, but then it'd be the only field from that, with everything else from `nifti_image`.  I actually think this would be worse at this point, since it's been like this for 4 years now.

It also affect only some Nifti files.  I suspect not too many people are introspecting these metadata fields.

[2022-03-02 12:38] N-Dekker commented on #3230
Yes, thanks @Leengit But now I think it would be even better if we could declare it `constexpr`! Unfortunately std::fill and std::fill_n only seem to be  `constexpr` from C++20: https://en.cppreference.com/w/cpp/algorithm/fill (ITK still supports C++14.) So then I guess we'd have to have a "hand-written" `for` loop instead:

    template <typename TContainer>
    constexpr TContainer
    MakeFille

[2022-03-02 15:29] Leengit commented on #3230
Sure.  Or as
[code]

[2022-03-02 17:58] N-Dekker commented on #3230
@Leengit Honestly, I was also thinking of using a range-based `for` loop, that's why I proposed to declare the begin() and end() of `FixedArray`, `Index`, `Offset`, and `Size` constexpr (PR  #3236 commit 47bce264791a53853020a3911dd94d060cfbd655). But then I saw that `std::array` begin() and end() are only constexpr from C++17! Fortunately std::array::operator[] and std::array::size() are already c

[2022-03-02 20:03] Leengit commented on #3230
That is a good catch about C++14 vs. C++17.  We definitely want this to work with C++14.

Yes, we could do the `const` instead of `constexpr` thing because the performance change (e.g., when `MakeFilled` is called with a value that is computed at runtime) will be minuscule if any.  However, I am thinking that we don't need to bother.  Even if the `static_assert` redundantly queries the `size()`, t

[2022-03-02 22:03] N-Dekker commented on #3230
@Leengit  Thanks! So... do you want to make it a pull request, or do you want me to do it?

[2022-03-03 01:46] thewtex commented on #3229
@dzenanz could you please submit a patch?

[2022-03-03 02:00] thewtex commented on #3233
@hjmjohnson with #3234 can this be closed?

[2022-03-03 05:56] lyhyl opened #3246 "Get error when importing `itk.itkGDCMImageIOPython`"
### Description

Get ImportError when importing itk.itkGDCMImageIOPython in conda env (python 3.7).

### Steps to Reproduce

1. conda create -n itktest python=3.7
2. conda activate itktest
3. conda install -c conda-forge itk
4. python
5. import itk.itkGDCMImageIOPython as gdcm

### Expected behavior

import the package without any error.

### Actual behavior

[code]

### Reproducibility

100%

###

[2022-03-03 17:14] Leengit opened #3248 "STYLE: `size_t` vs. `std::size_t`"
### Description
We use both `size_t` and `std::size_t`.  Which is the preferred style?

### Actual coding style
As of cef0b6511c27b486cd3469493fa6fcc774f97f53, the count of occurrences with and without the prefix `std::` are as follows.
[code]
This list was generated from
[code]

[2022-03-03 17:17] seanm commented on #3248
IMHO prefixing something as rudimentary as `int32_t` just hurts readability for no real gain, likewise for all those others.  It's not like they exist in any other namespace, that would break so much code.

[2022-03-03 17:53] N-Dekker commented on #3230
@Leengit Sorry, I was mistaken, when I wrote:

The _non-const_ `std::array::operator[]` overload is only constexpr from C++17. But by then, its begin() and end() are also constexpr! So with C++14, `itk::MakeFilled<std::array<T, N>>(val)` just cannot be called in a constexpr context.

Which implies that I was wrong, when I rejected your range-based `for` loop suggestion!!!  🐱

[2022-03-03 18:01] Leengit commented on #3230
So do we write `MakeFilled` as if for C++17 and have `MakeFilled` declared as `constexpr` only `#if __cplusplus >= 201703L`?

[2022-03-03 18:11] N-Dekker commented on #3230
@Leengit  No, it will be unconditionally declared as constexpr  😃  It will work fine outside constexpr context, for std::array, as well as for ITK containers. But _within_ constexpr context, it can only be used for ITK containers (assuming C++14 compilation).

[2022-03-03 19:48] hjmjohnson opened #3249 "String conversions to EncapsulateMetaData should attempt to be lossless."
### Description

@seanm noted in https://github.com/InsightSoftwareConsortium/ITK/pull/3242

Lossless would indeed be better. Searching the codebase, I see things like itk::EncapsulateMetaData<double>(metaDict, "TestDouble", metaDataDouble); elsewhere... I was mostly copying nearby code, I wonder why itkNiftiImageIO is only using strings...?

### Expected coding style

Avoid binary to string lossy

[2022-03-03 19:49] hjmjohnson commented on #3249
@kian-weimer  This is a nice issue that you could address after the python typehints are fixed.

[2022-03-03 19:50] hjmjohnson commented on #3233
@thewtex Both ITK and VTK likely should be synchronized bi-directionally.  Perhaps a new repo should be created to track "upstream" components or designate ITK or VTK as the hosted repo.

[2022-03-03 19:51] seanm commented on #3249
@hjmjohnson are you suggesting to:

1. continue to encode as strings, but at least make them lossless
2. encode them directly as floats, not as strings at all.

The second choice would of course have backwards compatibility issues... but would probably be better if we were starting from scratch...

[2022-03-03 19:54] hjmjohnson commented on #3248
It seems like dropping the prefix has the least effect.  I would recommend adding a maintenance script to ITK that can automatically make these substitutions.  They will inevitably creep back in.

It could also be added to an existing substitution script for the vxl name substitutions.

[2022-03-03 19:56] hjmjohnson commented on #3249
I would prefer that we encode them directly as primitive types (floats/double/ints...).  In cases where strings might be necessary, we should use `NumberToString{}(value)`.

[2022-03-03 20:07] seanm commented on #3249
If we go that route, what's the backwards compatibility plan?

[2022-03-03 20:30] hjmjohnson commented on #3249
I would recommend changing the key words for the meta data dictionary, and adding both a string version (in the present form) and the primitive stored version.

[2022-03-03 20:53] seanm commented on #3249
Right; seems reasonable.

[2022-03-03 21:20] dzenanz commented on #3248
I guess sometimes people think that `std::` prefix is required for those, too. Otherwise I doubt there would have been any instances of those. I vote in favor of shorter form. It helps readability.

[2022-03-03 21:52] Leengit commented on #3248
I will submit a pull request to remove `std::` in these cases.  If any of you know how to put this in as a commit hook, KWStyle check, or wherever is best then please do.  In case it is helpful more generally ... the `bash` `sed` command that I use is:

[code]

NB: Don't apply it to `Modules/Core/Common/include/itkIntTypes.h`.

[2022-03-03 22:10] Leengit commented on #3248
NB: If as a commit hook, etc. please apply the `sed` command somewhere before the application of the `clang-format` command.

[2022-03-03 22:21] dzenanz commented on #3248
Lee, can you self-assign this issue to yourself?

[2022-03-03 22:31] Leengit commented on #3248
It seems that I cannot.

[2022-03-03 22:59] dzenanz commented on #3248
Then I guess you would need write access for that. I assigned you.

[2022-03-04 11:26] emmenlau opened #3251 "Using system double-conversion fails on Windows"
I'm trying to use the system double-conversion library on Windows. This seems to work at first, ITK builds successfully. However when I check the cmake linker libraries for ITK, it will list the `dll` instead of the import library:
[code]
The part about `dll` is wrong and breaks the subsequent builds with an error.

I could track this problem to `Modules\ThirdParty\DoubleConversion\CMakeLists.txt`

[2022-03-04 14:51] dzenanz commented on #3251
Does replacing `LOCATION` by `IMPORTED_IMPLIB` work? So it reads: `get_target_property(ITKDoubleConversion_LIBRARIES double-conversion::double-conversion IMPORTED_IMPLIB)`

[2022-03-04 21:29] emmenlau commented on #3251
Thanks a lot for the quick support! I've now tried three combinations:
[code]
But none of them return a value for `ITKDoubleConversion_LIBRARIES`. This is very strange, because I can also see:
[code]

So both the `LOCATION` as well as the `IMPLIB` are defined in the same file and in the same manner. But one of them is empty when I check for it in `Modules\ThirdParty\DoubleConversion\CMakeLists.txt

[2022-03-06 14:29] #3248 closed

[2022-03-07 13:39] #3230 closed

[2022-03-07 14:50] emmenlau commented on #3251
Hmm, I'm not sure that getting the `IMPORTED_IMPLIB` property is generally broken in cmake. I would rather assume that this is in some way related to ITK and the cmake code in question?

[2022-03-07 14:56] dzenanz commented on #3251
You seem competent enough to debug it yourself 😄 [Dump CMake variables](https://stackoverflow.com/a/9328525/276168) might be of help.

[2022-03-07 18:34] aylward commented on #3216
The result of cl -c foo.c -FoNUL is an object file called NUL.obj

[code]

[2022-03-07 19:04] dzenanz commented on #3216
I just checked: `echo blah >null.txt` produces a file on Windows 11, but not on Windows 10. `echo blah >null` does not produce a file on Windows 11 either.

[2022-03-07 20:26] bradking commented on #3216
@aylward @dzenanz please visit `HKEY_LOCAL_MACHINE\SYSTEM\ControlSet001\Services\Null` in `regedit` and check the value of the `Start` setting.

[2022-03-07 20:36] dzenanz commented on #3216
In `HKLM\SYSTEM\ControlSet001\Services\Null`, `Start` is `0x00000001`.

[2022-03-07 21:49] bradking commented on #3216
@dzenanz thanks.  Please try your `echo blah >nul.txt` experiment with the name `nul.txt` rather than `null.txt`.  The `NUL` device name is supposed to work with any extension, IIUC.  We've been relying on `-FoNUL` causing `cl` to write to `NUL.obj`, which should also be the null device.

[2022-03-07 21:50] dzenanz commented on #3229
It turns out there is just one instance of `hooks.MaxObjectKiB` now, and it is in https://github.com/InsightSoftwareConsortium/ITK/blob/e82f200edc902b2b9cf090c9b32631a7e665f855/Modules/ThirdParty/Eigen3/src/itkeigen/.gitattributes#L3

Further search led me to this: [pre-commit hook from the hooks branch](https://github.com/InsightSoftwareConsortium/ITK/blob/hooks/pre-commit) is used, not the one i

[2022-03-07 22:00] dzenanz commented on #3216
Sorry, I meant `nul.txt`, not `null.txt`. So:

`echo blah >nul.txt` produces a file on Windows 11, but not on Windows 10. `echo blah >nul` does not produce a file on Windows 11 either.

I accidently copied `null` instead of `nul` earlier, because I was trying both.

[2022-03-07 22:09] bradking commented on #3216
Thanks.  We can't prevent `cl` from adding the `.obj` suffix, so I'll look into another approach.

[2022-03-07 22:44] dzenanz commented on #3229
The relevant code is at https://github.com/InsightSoftwareConsortium/ITK/blob/d033ed351804e8dfaa2a96e1bc358cc77e63ef90/pre-commit#L164-L210
This is a hard to comprehend git+bash script. Could @mathstuf or @bradking take over this issue?

It would be good if abandoned use of a separate branch just for git hooks, and kept the [hooks in master](https://github.com/InsightSoftwareConsortium/ITK/tree/ma

[2022-03-07 23:06] bradking commented on #3216
I opened CastXML/CastXML#211 for this.

[2022-03-08 09:43] ggardet commented on #2903
According to Eigen, this is an ITK issue.

[2022-03-08 15:01] bradking commented on #3216
I released [CastXML 0.4.5](https://github.com/CastXML/CastXML/releases/tag/v0.4.5) with an update to avoid depending on `-FoNUL`.

[2022-03-08 16:25] dzenanz commented on #3216
We should update CastXML [in ITK](https://github.com/InsightSoftwareConsortium/ITK/blob/master/Wrapping/Generators/CastXML/CMakeLists.txt).

[2022-03-08 16:28] dzenanz commented on #3216
@aylward did you run into this? You could try with an external build of CastXML, by turning `ITK_USE_SYSTEM_CASTXML` on.

[2022-03-08 16:29] bradking commented on #3229
We can't because the hooks branch needs to be checked out inside the `.git/hooks` directory.  Git specifically does not run hooks from the project's checkout.  All the hooks we have in `master` are launched by the separate hooks branch.

I've updated ITK's `hooks` branch to add support for the `hooks-max-size` attribute.  Run `git fetch` to get it, and then run `Utilities/SetupForDevelopment.sh` a

[2022-03-08 16:48] dzenanz commented on #3229
Thank you Brad.

[2022-03-08 17:28] #3099 closed

[2022-03-08 17:50] thewtex commented on #3216
Binaries for CastXML 0.4.5 are [being built](https://github.com/CastXML/CastXMLSuperbuild/pull/47).

[2022-03-08 17:52] thewtex commented on #3246
One 5.3rc4 is available on PyPI, it will be interesting to see if this persists per a recent patch from @tbirdso .

[2022-03-08 19:55] tbirdso opened #3261 "`PythonVerifyGetOutputAPIConsistency` failing on Windows"
### Description

The `PythonVerifyGetOutputAPIConsistency` CDash test is failing in Windows Python CI. This may have been introduced by [https://github.com/InsightSoftwareConsortium/ITK/commit/c266651c33c2d57013fd0c32c126fa74dd51e6a6](https://github.com/InsightSoftwareConsortium/ITK/commit/c266651c33c2d57013fd0c32c126fa74dd51e6a6) and has been inconsistently observed in CI results.

### Steps to R

[2022-03-08 20:20] #3229 closed

[2022-03-08 23:31] PranjalSahu commented on #3175
Faced the same issue with ITK ImageGrid. Works fine in new conda environment.

[2022-03-09 14:58] dzenanz commented on #3246
This is a misspelling. It should have read "Once 5.3rc4 is available on PyPI". 5.3rc4 is not tagged yet, and therefore not available on PyPI.

[2022-03-09 15:27] dzenanz commented on #3246
If Tom's suggestion works for you @lyhyl, please close the issue.

[2022-03-09 17:09] lyhyl commented on #3246
Yes, I can access it via lazy-loaded module.

The reason why I used to import it directly is that it makes intelligent code completion work. It is really painful to code without intelligent completion ☹️. From a perspective of users with C++ experience, importing what I need is reasonable.

If your team decides to keep this change, perhaps it should be documented because the behavior changed since

[2022-03-09 19:02] dzenanz commented on #3246
Changes in undocumented behavior don't need to be documented 😄

Thanks for sharing your workaround. #3200 is tackling autosuggest improvements. Perhaps you could contribute with your review?

[2022-03-09 20:41] thewtex commented on #3246
@tbirdso yes, you are correct -- usually `itk.GDCMImageIO` is what is accessed in client code. `itk.itkGDCMImageIOPython` is an implementation detail.

@kian-weimer @hjmjohnson are working hard on the intelligent code completion support so no workarounds are necessary.

[2022-03-10 00:30] #2233 closed

[2022-03-10 00:32] tbirdso commented on #2233
🎉

[2022-03-10 17:34] hjmjohnson opened #3268 "Minor compiler warning."
### Description
Expect clean builds without warnings.

### Steps to Reproduce

Complile with clang 13.

[code]

[code]

### Expected behavior

clean warning free builds.

### Actual behavior

A minro error for a code test that does not seem necessary.

### Reproducibility

100%

### Versions
Master branch as of 2022-03-10

### Environment

Ubuntu 20.04 with clang 13.0.1 compiler.

[2022-03-10 18:47] thewtex commented on #3138
@PranjalSahu please take a look

[2022-03-10 18:53] thewtex opened #3269 "Make itk.Transform pickle-able"
Similar to itk.Mesh, itk.Image, make itk.Transform pickle-able.

xref https://github.com/InsightSoftwareConsortium/ITK/pull/3154.

[2022-03-10 22:08] tbirdso opened #3271 "Define `operator+` for `itk.Vector` and `itk.VariableLengthVector` types"
### Description

[https://github.com/KitwareMedical/ITKUltrasound/pull/184](https://github.com/KitwareMedical/ITKUltrasound/pull/184) defines operators for adding `itk.Vector` and `itk.VariableLengthVector`s of the same size. Would be useful to include those operations in ITK proper for working with vector pixels.

[2022-03-11 20:39] #3268 closed

[2022-03-12 01:57] HaaPut opened #3277 "LZW compression in TIFFimageIO."
### Description

Based on a quick online search, it appears that the patent on LZW has expired (but don't quote me on the this). So [lzw patent](https://github.com/InsightSoftwareConsortium/ITK/blob/1d68414c4ec026c0086122569301a9576839873a/Modules/IO/TIFF/src/itkTIFFImageIO.cxx#L696) is perhaps not an issue for tiff images anymore. However, if using it is still not possible, what is the point of e

[2022-03-12 11:56] thewtex commented on #3277
@HaaPut since the patent has expired, we could enabled it. Would you like to create a patch?

[2022-03-12 11:59] thewtex opened #3278 "Make itk.PolyLineParametricPath pickle-able"
Similar to #3269

[2022-03-14 13:55] tbirdso opened #3301 "Improve C++ Factory Static Initialization Coverage"
### Overview

C++ factory initialization coverage should be expanded.

### Background

Issue #3156 changed how object factory registrations worked in Python.

Previous behavior:
- C++ modules rely on magic static initialization to register factory overrides when libraries are loaded
- Python modules also rely on static initialization for registering factories when ITK module libraries are lazily l

[2022-03-16 18:21] #3277 closed

[2022-03-16 22:11] seanm commented on #3210
@bradking any additional thoughts here?

[2022-03-17 08:39] SimonRit opened #3306 "Installation of Python wrappings fails"
### Description

Installation of a local compilation of Python wrappings fails with the following message

[code]

### Steps to Reproduce

I am using the following bash command:

[code]

### Expected behavior

Installation without error.

### Actual behavior

Installation with error reported above

### Reproducibility

100%

### Versions

ITK and RTK master branches.

### Environment

Linux Suse,

[2022-03-17 12:58] bradking commented on #3210
My above hypothesis about signal delivery thread selection is my only idea about how TSan breaks this.  The code in question is using a long-standard UNIX idiom.  If it doesn't work under a given analysis tool, it's the fault of that tool, not the code.  If you can narrow it to a minimal test case, then report it to TSan upstream.

[2022-03-17 16:05] thewtex commented on #3306
@hjmjohnson @jcfr CC

This is currently preventing generation of wheels.

[2022-03-17 19:57] thewtex commented on #3306
https://github.com/InsightSoftwareConsortium/ITK/pull/3303 seems to be related. The file in my build tree is `pyBasePython.py` instead of `pyBase.py`.

[2022-03-17 20:19] #3261 closed

[2022-03-17 22:08] tbirdso opened #3310 "Serialization Test Failures in Windows CI"
### Description

[CDash results](https://open.cdash.org/viewTest.php?onlyfailed&buildid=7800309) show failures in Mesh and Point Set serialization Python tests.

### Steps to Reproduce

`ctest -C Release -R MeshSerialization`

### Expected behavior

Test passes

### Actual behavior

[code]

### Reproducibility

100%

### Versions

main branch

### Environment

Windows 10, Python 3.8.5

### Additio